

div.title_bar_access{
	background-color: #EAC200;
}

div.title_bar_icon_access{
	background-image: url(../images/menu4.png);
}

h2.access_subhead{
  text-align: center;
  padding: 30px 0 10px 0;
	font-size: 20px;;
	color: #F56151;
}

p.access_text{
  text-align: center;
  padding: 10px 0 10px 0;
	font-size: 28px;
}

div.map_image{
	width: 80%;
	height: 400px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
}

div.map{
	text-align: center;
}
img#map{
	width: 800px;
	height: 500px;
}

/*Responsive*/

@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
		p.access_text{
			font-size: 20px;
		}
		h2.access_subhead{
			font-size: 14px;
		}
		div.map_image{
			height: 230px;
		}
		img#map{
			width: 280px;
			height: 190px;
		}

}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
		p.access_text{
			font-size: 20px;
		}
		h2.access_subhead{
			font-size: 14px;
		}
		div.map_image{
			height: 230px;
		}
		img#map{
			width: 400px;
			height: 300px;
		}
}
