div.title_bar_cal{
	background-color: #90B670;
}

div.title_bar_icon_cal{
	background-image: url(../images/menu3.png);
}

body {
	background: #ccc;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}

div.month_name{
}

p.month_name_text{
	background-color: #fff;
	display: inline-block;
	text-align: center;
	width: 20%;
	margin: 0 auto;
	margin-left: 10%;
	margin-bottom: 5px;
	margin-top: 50px;
	padding: 10px;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
}

.day {
	font-size: 8em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 4em;
	line-height: 1em;
	text-transform: lowercase;
}

.calendar {
	background: #fff;
	border-radius: 1em 1em 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;
	padding: 2em;
	margin-left: 8%;
}

.calendar thead {
	color: #3D9EC7;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .5em 1em;
	text-align: center;
}

.point-day {
	color: #e7e7e7;
	position: relative;
	background-color: #F56151;
}

.point-day-fin{
	color: #e7e7e7;
	background-color: #7F7F7F;
}

.prev-month,
.next-month {
	color: #cacaca;
}

td ul li{
	list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
	background-color: #33B548;
	overflow: hidden;
  width: 130%;
  height: 0;
	-moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}

td ul{
	margin: 0;
	padding: 0;
}

div.cal_submenu{
	position: absolute;
	top: 100%;
	left: 0;
	width: 200%;
	height: 200%;
	background-color: white;
	z-index: 2;
	display: none;
}

.cal_submenu > a{
	display: block;
	text-decoration: none;
	font-size: 10px;
	height: 50%;
	line-height: 34px;
	display: inline-block;
	width: 100%;
	text-align: center;
	outline: none;
	position: relative;
	z-index: 2;
	transition: all .3s;
	background-color: white;
}
.cal_submenu > a:nth-of-type(3)::before,.cal_submenu > a:nth-of-type(3)::after{
	background-color: skyblue;
}
.cal_submenu > a::before,.cal_submenu > a::after{
	width: 50%;
	height: 100%;
	top: 0;
	position: absolute;
	display: block;
	content: "";
	z-index: -1;
	transition: all .3s;
	background-color: pink;
}
.cal_submenu > a::before{
	left: 0;
}
.cal_submenu > a::after{
	right: 0;
}
.cal_submenu > a:hover::before, .cal_submenu > a:hover::after{
	width: 0;
}

.cal_submenu > a:hover{
	border: 3px solid #F56151;
}
.cal_submenu > a:nth-last-of-type(1):hover{
	border: 3px solid #3D9EC7;
}
td.point-day:hover div.cal_submenu{
	display: block;
	transition: 1s;
}

td.point-day:hover span{
	font-size: 24px;
	color: white;
	transition: .3s;
}
td.dup-point-day::before{
	content: "";
	display: block;
	background-color: blue;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-top: 17px solid #F56151;
	border-bottom: 17px solid #3D9EC7;
	border-left: 23px solid #F56151;
	border-right: 23px solid #3D9EC7;
	margin: auto;
}
td:before{
	box-sizing: border-box;
}
td.point-day span{
	font-size: 14px;
	display: block;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	line-height: 34px;
}



#september{
	margin-bottom: 50px;
}

#august{
	margin-bottom: 50px;
}

div.cal_intr{
	margin: 50px;
	height: 40px;
	position: relative;
}

div.cal_boxarea{
	width: 5%;
	height: 100%;
	display: inline-block;
	position: relative;
	float: left;
}
div.cal_box01{
	display: inline-block;
	width: 32px;
	height: 28px;
	background-color: #F56151;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

div.cal_box02{
	display: inline-block;
	width: 32px;
	height: 28px;
	background-color: #7F7F7F;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
div.cal_box03{
	display: inline-block;
	width: 32px;
	height: 28px;
	background-color: #3D9EC7;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
div.cal_intr p{
	width: 95%;
	margin: 0;
	display: inline-block;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	line-height: 40px;
}

p#cal_subintr{
	margin-left: 50px;
}

div.calendar-container {
 position: relative;
　}



/*Responsive*/

@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
		td.dup-point-day::before{
			border-left: 18.5px solid #F56151;
			border-right: 18.5px solid #3D9EC7;
		}
		div.cal_submenu{
			width: 240%;
		}
		div.cal_boxarea {
			width: 15%;
		}
		div.cal_intr p {
			width: 85%;
		}
		p.month_name_text{
			background-color: #fff;
			display: inline-block;
			text-align: center;
			width: 30%;
			margin: 0 auto;
			margin-left: 10px;;
			margin-bottom: 5px;
			margin-top: 50px;
			padding: 8px 10px;
			border-radius: 0.5em 0.5em 0.5em 0.5em;
			-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
			box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;

		}
		.calendar {
			background: #fff;
			border-radius: 1em 1em 1em 1em;
			-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
			box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
			color: #555;
			display: inline-block;
			padding: 1em;
			margin: 0px;
		}
		.calendar-container{
			text-align: center;
		}
		.calendar td {
			padding: .5em 0.7em;
			text-align: center;
		}
		p#cal_care{
			font-size: 14px;
		}
		p#cal_subintr{
			font-size: 14px;
		}

}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
		td.dup-point-day::before{
			border-left: 18.5px solid #F56151;
			border-right: 18.5px solid #3D9EC7;
		}
		div.cal_submenu{
			width: 240%;
		}
		div.cal_boxarea {
			width: 15%;
		}
		div.cal_intr p {
			width: 85%;
		}
		p.month_name_text{
			background-color: #fff;
			display: inline-block;
			text-align: center;
			width: 30%;
			margin: 0 auto;
			margin-left: 10px;;
			margin-bottom: 5px;
			margin-top: 50px;
			padding: 8px 10px;
			border-radius: 0.5em 0.5em 0.5em 0.5em;
			-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
			box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;

		}
		.calendar {
			background: #fff;
			border-radius: 1em 1em 1em 1em;
			-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
			box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
			color: #555;
			display: inline-block;
			padding: 1em;
			margin: 0px;
		}
		.calendar-container{
			text-align: center;
		}
		.calendar td {
			padding: .5em 0.7em;
			text-align: center;
		}
		p#cal_care{
			font-size: 14px;
		}
		p#cal_subintr{
			font-size: 14px;
		}

}
