

div.title_bar_course{
	background-color: #90B670;
}

div.title_bar_icon_course{
	background-image: url(../images/menu3.png);
}

div#name_wrapper{
  background-color: #50B0D9;
}

h2#name_title{
  color: rgba(248,248,248,1);
  text-align: center;
  padding-top: 30px;
}

p#name_subtitle{
  color: rgba(248,248,248,1);
  text-align: center;
  padding-bottom: 30px;
  margin: 0;
}

div#about_wrapper{
  background-color: #FEFFD5;
}

p#about_text01{
  text-align: center;
  line-height: 30px;
}

p#about_text02{
  line-height: 30px;
  text-align: center;
  padding-bottom: 60px;
}

div#course_wrapper{
  background-color: #C3E2EF;
}

div#course_icon_a{
  background-image: url(../images/course_a_oval.png);
}

div#course_icon_b{
  background-image: url(../images/course_b_oval.png);
}

div#course_icon_c{
  background-image: url(../images/course_c_oval.png);
}

div.course_bar{
	width: 600px;
	height: 1px;
	background-color: #545353;
	margin: 0 auto;
}

div.course{
  width: 100%;
  height: 210px;
  padding-left: 10%;
	padding-right: 10%;
  padding-top: 20px;
}

div.course_icon{
  background-size: contain;
	background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
	margin: auto;
	width: 100px;
	height: 100px;
}

div.course_icon_wrapper{
  /*width: 50%;
  position: relative;
  margin: 0 auto;*/
}

div.course_icon_wrapper:before{
  /*content: "";
  padding-top: 100%;
  display: block;*/
}

div.course_iconarea{
	width: 20%;
	height: 100%;
	float: left;
	position: relative;

}

div.course_article{
	width: 80%;
	float: left;
}

h4.course_title{
  text-align: center;
}

p.course_text{
  text-align: center;
}

p.intr{
  text-align: center;
}

div#care_wrapper{
  background-color: #FEFFD5;
}

div#care_text_wrapper{
  width: 100%;
}

p#care_text{
  padding-bottom: 60px;
  line-height: 30px;
	text-align: center;
}

div#thing_wrapper{
  background-color: #C3E2EF;
}

h4.thing_title{
  text-align: center;
	font-size: 24px;
}

div.thing_text_wrapper{
  width: 100%;
}

p.thing_text{
  margin: 0 auto;
  width: 352px;
  padding-bottom: 60px;
  line-height: 24px;
}

h3.subhead{
  text-align: center;
  padding: 60px 0 0 0;
	font-size: 30px;
	margin: 0;
}

div.subhead_bar{
	height: 4px;
	background-color: #545353;
	margin: 0 auto;
	margin-bottom: 30px;
}

div#subhead_bar_about{
	width: 100px;
}

div#subhead_bar_course{
	width: 180px;
}

div#subhead_bar_care{
	width: 70px;
}

div#subhead_bar_thing{
	width: 240px;
}

p.cal{
	margin: 0 auto;
}

br.br_mobile{
	display: none;
}

br.br_tablet{
	display: none;
}

div.thing_image{
	width: 352px;
	height: 250px;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

div#thing_image_a{
	background-image: url(../images/a_things.jpeg);
}

div#thing_image_b{
	background-image: url(../images/b_things.jpeg);
}


div#thing_image_c{
	background-image: url(../images/c_things.jpeg);
}


/*Responsive*/

@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
		div.thing_image {
    width: 300px;
    height: 230px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
		}
		p#about_text01{
			padding: 0 20px;
		}
		p#about_text02{
			padding: 20px;
		}
		p.intr{
			padding: 20px;
		}
		br.br_mobile{
			display: block;
		}
		br.br_tablet{
			display: none;
		}
		br.br_pc{
			display: none;
		}
		p.intr{
			margin-bottom: 20px;
		}
		div.course_bar{
			margin-bottom: 20px;
		}
		div.course{
			height: 240px;
			padding: 10px 0;
		}
		div.course_iconarea{
			width: 100%;
			height: 30%;
		}
		div.course_icon{
			width: 80px;
			height: 80px;
		}
		div.course_article{
			width: 100%;
			height: 70%;
			padding-top: 10px;
		}
		h2#name_title{
			font-size: 22px;
		}
		p#name_subtitle{
			font-size: 14px;
		}
		p#about_text01 {
			line-height: 26px;
		}
		p#about_text02 {
			line-height: 26px;
		}
		p#care_text{
			text-align: center;
			line-height: 26px;
			padding: 20px;
		}
		h3.subhead{
			font-size: 24px;
		}
		p#about_text01{
			font-size: 14px;
		}
		p#about_text01 br.br_pc{
			display: none;
		}
		p#about_text02{
			font-size: 14px;
		}
		p#about_text02 br.br_pc{
			display: none;
		}
		p.intr{
			font-size: 14px;
		}
		p.course_text{
			font-size: 14px;
			padding: 0 20px;
		}
		p#care_text{
			font-size: 14px;
			text-align: left;
		}
		p.thing_text{
			font-size: 14px;
			padding: 0 20px;
			width: 100%;
		}
		h3.subhead{
			padding: 40px 0 0 0;
		}
		div.course_bar{
			width: 100%;
		}

}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
		br.br_mobile{
			display: none;
		}
		br.br_tablet{
			display: block;
		}
		br.br_pc{
			display: none;
		}
		p.intr{
			margin-bottom: 20px;
		}
		div.course_bar{
			margin-bottom: 20px;
		}
		div.course{
			height: 240px;
			padding: 10px;
		}
		div.course_iconarea{
			width: 100%;
			height: 30%;
		}
		div.course_icon{
			width: 80px;
			height: 80px;
		}
		div.course_article{
			width: 100%;
			height: 70%;
			padding-top: 10px;
		}
		h2#name_title{
			font-size: 22px;
		}
		p#name_subtitle{
			font-size: 14px;
		}
		p#about_text01 {
			line-height: 26px;
		}
		p#about_text02 {
			line-height: 26px;
		}
		p#care_text{
			text-align: center;
			line-height: 26px;
		}
		h3.subhead{
			font-size: 24px;
		}
		p#about_text01{
			font-size: 16px;
			margin: 20px;
		}
		p#about_text02{
			font-size: 16px;
			margin: 20px;
		}
		p.intr{
			font-size: 16px;
			margin: 20px;
		}
		p.course_text{
			font-size: 16px;
			margin: 20px;
		}
		p#care_text{
			font-size: 16px;
			margin: 20px;
		}
		p.thing_text{
			font-size: 16px;
		}

}
