p#about_text02{
	margin: 0;
}
p#care_text{
	margin: 0;
}
div#mark{
	text-align: center;
	color: white;
	padding-bottom: 20px;
}

div.title_bar_course{
	background-color: #3D9EC7;
}

div.title_bar_icon_course{
	background-image: url(../images/menu2.png);
}

div#name_wrapper{
	background-color: #50B0D9;
}

h2#name_title{
	color: rgba(248,248,248,1);
	text-align: center;
	padding-top: 45px;
}

p#name_subtitle{
	color: rgba(248,248,248,1);
	text-align: center;
	padding-bottom: 10px;
	margin: 0;
}

div#about_wrapper{
	background-color: #FEFFD5;
	position: relative;
}

div#about_wrapper::before{
	width: 0;
	height: 0;
	border-right: 16px solid transparent;
	border-left: 16px solid transparent;
	border-top: 16px solid #50B0D9;
	content: "";
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: 50%;
	margin-left: -16px;
}


p#about_text01{
	line-height: 40px;
	padding: 20px 80px 40px 80px;
	margin: 0;
}


p#about_text02{
	line-height: 30px;
	text-align: left;
	padding: 0 80px 50px 80px;
	display: inline-block;
}

div#course_wrapper{
	background-color: #C3E2EF;
	position: relative;
	padding-bottom: 30px;
}

div#course_wrapper::before{
	width: 0;
	height: 0;
	border-right: 16px solid transparent;
	border-left: 16px solid transparent;
	border-top: 16px solid #FEFFD5;
	content: "";
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: 50%;
	margin-left: -16px;
}

div#course_icon_a{
	background-image: url(../images/course_a_oval.png);
}

div#course_icon_b{
	background-image: url(../images/course_b_oval.png);
}

div#course_icon_c{
	background-image: url(../images/course_c_oval.png);
}

div#course_icon_d{
	background-image: url(../images/course_d_oval.png);
}

div.course_bar{
	width: 80%;
	height: 2px;
	background-color: gray;
	margin: 0 auto;
}

div.course#course_a{
	width: 100%;
	height: 540px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 38px;
	padding-bottom: 38px;
}

div.course#course_b{
	width: 100%;
	height: 700px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 38px;
	padding-bottom: 38px;
}

.table-striped thead{
	background-color: #F56151;
	color: #fff;
}

.course .table-striped{
	margin-top: 32px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

.course .table-striped .border{
	border-left: 1px solid #ddd;
}

.course .table-striped th, .course .table-striped td{
	vertical-align: middle;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.table-striped>tbody>tr:nth-of-type(even) {
	background-color: rgb(240,240,240);
}

.course_subtitle{
	font-size: 18px;
}

div#b_course_article{
	padding-top: 18px;
}

div.course_icon{
	background-size: contain;
	background-repeat: no-repeat;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	margin: auto;
	width: 120px;
	height: 120px;
}

div.course_icon_wrapper{
  /*width: 50%;
  position: relative;
  margin: 0 auto;*/
}

div.course_icon_wrapper:before{
  /*content: "";
  padding-top: 100%;
  display: block;*/
}

div.course_iconarea{
	width: 20%;
	height: 100%;
	float: left;
	position: relative;

}

div.course_article{
	width: 80%;
	float: left;
	padding-left: 20px;
}

h4.course_title{
	text-align: left;
	font-size: 28px;
	color: #D03C2B;
}

p.course_text{
	text-align: left;
	padding-left: 10px;
}

p.intr{
	text-align: left;
	padding-left: 160px;
}

div#care_wrapper{
	background-color: #FEFFD5;
	position: relative;
	text-align: center;
}

div#care_wrapper::before{
	width: 0;
	height: 0;
	border-right: 16px solid transparent;
	border-left: 16px solid transparent;
	border-top: 16px solid #C3E2EF;
	content: "";
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: 50%;
	margin-left: -16px;
}


div#care_text_wrapper{
	width: 100%;
}

p#care_text{
	padding-bottom: 60px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	width: 870px;
}

div#thing_wrapper{
	background-color: #C3E2EF;
	position: relative;
}

div#thing_wrapper::before{
	width: 0;
	height: 0;
	border-right: 16px solid transparent;
	border-left: 16px solid transparent;
	border-top: 16px solid #FEFFD5;
	content: "";
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: 50%;
	margin-left: -16px;
}

h4.thing_title{
	text-align: center;
	font-size: 20px;
}

h4.thing_title span{
	font-size: 36px;
	color: #D03C2B;
}

div.thing_text_wrapper{
	width: 100%;
}

p.thing_text{
	margin: 0 auto;
	width: 352px;
	padding-bottom: 60px;
	line-height: 24px;
}

h3.subhead{
	text-align: center;
	padding: 60px 0 0 0;
	font-size: 30px;
	margin: 0;
}

div.subhead_bar{
	height: 4px;
	background-color: #545353;
	margin: 0 auto;
	margin-bottom: 30px;
}

div#subhead_bar_about{
	width: 100px;
}

div#subhead_bar_course{
	width: 180px;
}

div#subhead_bar_care{
	width: 70px;
}

div#subhead_bar_thing{
	width: 240px;
}

p.cal{
	margin: 0 auto;
}

div.thing_image{
	width: 352px;
	height: 268px;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	border: 8px white solid;
}

div#thing_image_a{
	background-image: url(../images/a_things.jpeg);
}

div#thing_image_b{
	background-image: url(../images/b_things.jpeg);
}


div#thing_image_cd{
	background-image: url(../images/cd_things.jpeg);
}

.visible_mobi_tab{
	display: none;
}


/*Responsive*/

@media screen and (max-width:425px) {
	/*　画面サイズが425pxまではここを読み込む　*/

	.visible_mobi_tab{
		display: inline;
	}
	h4.thing_title{
		font-size: 16px;
	}

	h4.thing_title span{
		font-size: 28px;
	}
	div#mark{
		font-size: 10px;
	}
	div.thing_image {
		width: 300px;
		height: 230px;
		margin: 0 auto;
		background-size: contain;
		background-repeat: no-repeat;
		margin-bottom: 10px;
	}
	div.thing_text_wrapper {
		padding-bottom: 30px;
	}
	p#about_text01{
		padding: 0 20px 20px 20px;
	}
	p#about_text02{
		padding: 25px 20px 35px 20px;
	}
	p.intr{
		padding: 20px;
		text-align: center;
	}

	p.intr{
		margin-bottom: 20px;
	}
	div.course_bar{
		margin-bottom: 20px;
	}
	div.course#course_a{
		height: 600px;
		padding: 10px;
	}
	div.course#course_b{
		height: 940px;
		padding: 10px;
	}
	div.course_iconarea{
		width: 100%;
		height: 12%;
	}
	div.course_icon{
		width: 80px;
		height: 80px;
	}
	div.course_article{
		width: 100%;
		height: 70%;
		padding-top: 10px;
		padding-left: 0;
	}
	h2#name_title{
		font-size: 22px;
	}
	p#name_subtitle{
		font-size: 14px;
	}
	p#about_text01 {
		line-height: 26px;
	}
	p#about_text02 {
		line-height: 26px;
	}
	p#care_text{
		text-align: center;
		line-height: 26px;
		padding: 20px 20px 50px 20px;
		width: 320px;
	}
	h3.subhead{
		font-size: 24px;
	}
	p#about_text01{
		font-size: 14px;
	}
	p#about_text02{
		font-size: 14px;
	}
	p.intr{
		font-size: 14px;
	}
	h4.course_title{
		text-align: center;
		font-size: 20px;
	}
	div#b_course_article {
		padding-top: 10px;
	}
	p.course_text{
		font-size: 14px;
		padding: 0 20px;
		text-align: center;
	}
	p#care_text{
		font-size: 14px;
		text-align: left;
	}
	p.thing_text{
		font-size: 14px;
		padding: 0 20px;
		width: 300px;
	}
	h3.subhead{
		padding: 40px 0 0 0;
	}
	div.course_bar{
		width: 90%;
	}

	#course_b .table-striped>thead>tr>th:nth-of-type(2){
		display: none;
	}

	#course_b .table-striped>tbody>tr>th{
		display: none;
	}



}

@media screen and (min-width:426px) and ( max-width:768px) {
	/*　画面サイズが426pxから768pxまではここを読み込む　*/

	.visible_mobi_tab{
		display: inline;
	}

	p.intr{
		margin-bottom: 20px;
		text-align: center;
		padding-left: 0;
	}
	h4.course_title{
		text-align: center;
		font-size: 24px;
	}
	div.course_bar{
		margin-bottom: 20px;
		width: 90%;
	}
	div.course#course_a{
		height: 600px;
		padding: 10px;
	}
	div.course#course_b{
		height: 800px;
		padding: 10px;
	}
	div.course_iconarea{
		width: 100%;
		height: 14%;
	}
	div.course_icon{
		width: 80px;
		height: 80px;
	}
	div.course_article{
		width: 100%;
		height: 70%;
		padding-top: 10px;
		padding-left: 0;
	}
	h2#name_title{
		font-size: 22px;
	}
	p#name_subtitle{
		font-size: 14px;
	}
	p#about_text01 {
		line-height: 26px;
	}
	p#about_text02 {
		line-height: 26px;
	}
	p#care_text{
		text-align: center;
		line-height: 26px;
	}
	h3.subhead{
		font-size: 24px;
	}
	p.intr{
		margin: 20px;
	}
	p.course_text{
		text-align: center;
		padding: 20px 80px 40px 80px;
	}
	p#care_text{
		margin: 0 20px;
		width: 390px;
		text-align: left;
	}

	#course_b .table-striped>thead>tr>th:nth-of-type(2){
		display: none;
	}

	#course_b .table-striped>tbody>tr>th{
		display: none;
	}


}
