body#landing{
	font-family: "noto","游ゴシック" !important;
}

body#landing #top_content{
	margin-top: 97px;
	height: auto;
}

#landing_content_top{
	padding-bottom: 0;
}

#third-wrapper .item-intr, .modal-title-intr{
	font-family: ".SF NS Display", "游ゴシック" !important;
}

p.price,
#landing_ham_icon p,
.sub-title{
	font-family: "Montserrat", "Hiragino Sans" !important;
}

#logo-text, #mobile_header_logo_text, #static-entry-button .logo, #landing_mobile_header #logo_title{
	font-family: "logotypejp", "游ゴシック" !important;
}

body#landing h1,#landing_top_images_text .head,
p#mobile_top_content_intr{
	font-family: "logotypejp-b", "游ゴシック" !important;
}

body#landing #third-wrapper .item-title, 
#landing_top_image_add p, 
#landing_mobile_top_image_add p,
.modal-head,
#static-entry-button span,
#static-entry-button .entry,
#first-wrapper .item-title{
	font-family: "noto-black", "游ゴシック" !important;
}

body#landing #fifth-wrapper h1,
body#landing #second-wrapper .item-title,
body#landing #fourth-wrapper .item-title,
footer > ul > li > a{
	font-family: "noto-bold", "游ゴシック" !important;
}

body#landing #third-wrapper .item-text,
.modal-text{
	font-family: "noto-dl", "游ゴシック" !important;
}
#static-entry-button{
	position: fixed;
	bottom: 5px;
	right: 5px;
	background-color: #F9B626;
	z-index: 1000;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	color: #fff;
	padding: 2rem;
	text-align: center;
	box-shadow: 2px 2px 10px gray;
}

#static-entry-button:hover{
	-webkit-animation: scale .3s ease-in-out;
  	animation: scale .3s ease-in-out;
}

@-webkit-keyframes scale {
  50% { -webkit-transform: scale(1.1); }
}
@keyframes scale {
  50% { transform: scale(1.1); }
}

#static-entry-button a{
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#static-entry-button .flex-area{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.4rem;
}

#static-entry-button .icon{
	background-image: url(../images/logo_white.png);
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: contain;
}

#static-entry-button .logo{
	font-size: 2.2rem;
	margin-bottom: 0;
	padding-left: 5px;
}

#static-entry-button .entry{
	margin-top: 1rem;
	font-size: 2.4rem;
}

div#landing_top_menu{
	width: 100%;
	background-color: #4A90E2;
}

ul#landing_top_menu_items{
	display: flex;
	justify-content: center;
	list-style: none;
	margin-bottom: 0;
}

li.landing_top_menu_item{
	padding: 10px 40px;
}

li.landing_top_menu_item a{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	font-size: 1.4rem;
}

.mobi_top_content_cover{
	background: rgba(0,77,128, 0.3);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.mobi_top_content_cover2{
	background-image:url(../images/lp_video_cover.jpg);
	opacity: 0.3;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

#landing_top_images_text{
	position: absolute;
	top: 20vh;
	left: 10vw;
	color: #fff;
	z-index: 5;
}

#landing_top_images_text .head{
	font-size: 7.2rem;
}

#landing_top_images_text .sub{
	font-size: 2.4rem;
}

#landing_top_image_add #rectangle{
	position: absolute;
	bottom: -50px;
	left: 0;
	background-color: #4A90E2;
	width: 100%;
	height: 50px;
	z-index: 5;
}

#landing_top_image_add #rectangle::before{
	content: "";
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 50vw solid transparent;
	border-bottom: 50px solid #4A90E2;
	border-left: 50vw solid #4A90E2;
}

#landing_top_image_add p{
	color: #fff;
	position: absolute;
	bottom: -30px;
	left: 40px;
	font-size: 3rem;
	z-index: 10;
}

body#landing h1{
	text-align: center;
	margin: 0;
	padding: 4rem 0 0.6rem 0;
	font-size: 3.6rem;
}

body#landing .container{
	margin-top: 0;
}

.sub-title{
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
	font-weight: bold;
}

.dot{
	font-size: 12px;
	position: relative;
	display: inline-block;
	-webkit-transform: scale(0.7);
    -webkit-transform-origin:0 0;
}

.dot:before{
	content: "●";
	position: absolute;
	top:0;
	left: 34px;
}

.dot:after{
	content: "●";
	position: absolute;
	top:0;
	right: 34px;
}

.chrome .dot{
    -webkit-transform: scale(0.7);
    -webkit-transform-origin:0 0;
}

#first-wrapper , #second-wrapper , #third-wrapper, #fourth-wrapper, #fifth-wrapper{
	padding-left: 20rem;
	padding-right: 20rem;
}

#first-wrapper{
	background-color: #fff;
	padding-top: 4rem;
	text-align: center;
	margin-top: 50px;
}

#second-wrapper{
	background-color: #fff;
	padding-top: 4rem;
	padding-bottom: 8rem;
	text-align: center;
}

 #fourth-wrapper{
 	background-color: #fff;
	padding-top: 4rem;
	padding-bottom: 16rem;
	text-align: center;
 }

#third-wrapper{
	background-color: #F2F2F2;
	padding-top: 4rem;
	padding-bottom: 9rem;
	text-align: center;
}

#fifth-wrapper{
	background-color: #383948;
	background-image: url(../images/lp_entryarea.jpg);
	background-position: center;
	padding-top: 4rem;
	padding-bottom: 12rem;
	text-align: center;
	position: relative;
	z-index: 1;
}

#fifth-wrapper .cover{
	background-color: rgba(56, 57, 72, .8);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

#first-wrapper h1{
	color: #4A90E2;
}

body#landing #fifth-wrapper h1{
	color: #fff;
	padding-bottom: 6rem;
}


#first-wrapper .items, #third-wrapper .items{
	display: flex;
	justify-content: center;
	text-align: center;
}

#first-wrapper .sub-title{
	padding-bottom: 30px;
}

.first-wrapper-title{
	background-image: url(../images/logo_grey.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#first-wrapper .item-text{
	font-size: 1.4rem;
	color: #737373;
	text-align: left;
}

#first-wrapper .item{
	width: 25vw;
	padding: 2rem 4.6rem;
	box-sizing: border-box;
}

#first-wrapper .item-title{
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 1.8rem;
}

#first-wrapper .item:first-child{
	border-right: 1px solid #DBDBDB;
}

#first-wrapper .item:last-child{
	border-left: 1px solid #DBDBDB;
}

#first-wrapper img{
	width: 100px;
	height: 100px;
}

#second-wrapper .items ,#fourth-wrapper .items{
	display: flex;
	justify-content: center;
	padding: 5rem 0;
}

#second-wrapper .image-area,#fourth-wrapper .image-area{
	width: 40%;
	margin: 0 4rem;
	background-size: cover;
	box-shadow: 10px 10px #F9B626;
	background-repeat: no-repeat;
}
#second-wrapper .item,#fourth-wrapper .item{
	padding: 5rem 0;
	width: 40%;
	text-align: left;
}

#second-wrapper .item-text,#fourth-wrapper .item-text{
	color: #737373;
	font-size: 1.6rem;
	line-height: 34px;
}

#second-wrapper .image-area{
	background-image: url(../images/lp_2wrap.jpg);
}

#fourth-wrapper .image-area{
	background-image: url(../images/lp_4wrap.jpg);
}

#third-wrapper .item{
	background-color: #fff;
	width: 25vw;
	margin: 1rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
	transition: .2s;
	border-radius: 10px;
}

#third-wrapper .item:hover{
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}

#third-wrapper .image-area{
	background-color: #FDDF9E;
	height: 200px;
	position: relative;
	border-radius: 10px 10px 0 0 ;
}

#third-wrapper img.panel-img{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

#third-wrapper .text-area{
	padding: 2rem;
}

#third-wrapper .item-intr{
	font-size: 1.4rem;
	color: #C8C8C8;
	text-align: left;
	margin-bottom: 0;
}

#third-wrapper .item-title{
	font-size: 2rem;
	text-align: left;
}

#third-wrapper .item-text{
	font-size: 1.4rem;
	color: #737373;
	text-align: left;
	line-height: 2.8rem;
}

#third-wrapper .price{
	font-size: 2rem;
	text-align: right;
	margin-bottom: 4rem;
}

#third-wrapper button.more-read{
	background-color: transparent;
	border: 3px solid #F8BD3F;
	color: #F8BD3F;
	border-radius: 20px;
	padding: 0.8rem 4rem;
	position: relative;
	transition: all .3s;
	z-index: 2;
}

#third-wrapper button.more-read:after{
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	content: '';
	-webkit-transform: scale(.5);
	border-radius: 16px;
	transform: scale(.5);
	transition: all .3s;
}

#third-wrapper button.more-read:hover{
	color: #fff;
}

#third-wrapper button.more-read:hover::after{
	background-color: #F8BD3F;
	transform: scale(1);
}

#third-wrapper .items{
	margin-top: 2rem;
	margin-bottom: 3rem;
}

#third-wrapper .remark{
	text-align: center;
	font-size: 1.4rem;
	color: #989898;
	margin: 0
	padding: 1rem 0;

}

#fifth-wrapper{
	text-align: center;
	height: 530px;
}

#fifth-wrapper h1{
	position: absolute;
	z-index: 3;
	top: 34px;
	margin: auto;
	left: 0;
	right: 0;
}

#fifth-wrapper div{
	z-index: 3;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 170px;
	color: #fff;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
}

/*#fifth-wrapper p{
	color: #fff;
}*/

#fifth-wrapper p span{
	color: #F8BD3F;
	margin-right: 10px;
	z-index: 3;
	top: 10rem;
}

#fifth-wrapper p.button-pre{
	color: #F8BD3F;
	margin-top: 4rem;
	z-index: 3;
	top: 310px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
}

div#landing_mobile_top_content{
	display: none;
}

.line_button img{
	width: 40px;
	z-index: 3;
}

.line_button{
	background-color: rgb(23,175,6);
	padding: 1rem 2rem;
	color: #fff;
	border-radius: 50px;
	font-size: 2rem;
	z-index: 3;
	position: absolute;
	left: 0;
	right: 0;
	top: 350px;
	margin: auto;
	display: inline-block;
	width: 220px;
}

.line_button:hover{
	color: #fff;	
	-webkit-animation: scale .3s ease-in-out;
  	animation: scale .3s ease-in-out;
}


/*modal-----------------------------------------*/
.modal-content{
	position: relative;
	padding: 4rem;
}

body#landing .modal-header, .modal-body{
	text-align: left;
}

body#landing .modal-header{
	border-bottom: 0;
	border-left: 4px solid #4A90E2;
	padding: 0 ;
	padding-left: 1rem;
}

body#landing .modal-footer{
	text-align: center;
	border-top: 0;
}

.modal-title{
	font-size: 2rem;
}

button.close{
	position: absolute;
	top: 20px;
	right: 20px;
}
.modal-text, .modal-head{
	color: #383948;
	font-size: 1.4rem;
}

.modal-text span:first-child{
	color: #F8E71C;
}

.modal-text span{
	color: #DBDBDB;
	font-size: 1.4rem;
}

.modal-title-intr{
	font-size: 1.2rem;
	color: #C8C8C8;
	margin-bottom: 0;
}

.modal-body img{
	width: 100%;
}

body#landing .modal-footer-btn{
	background-color: transparent;
	border: 3px solid #DBDBDB;
	color: #DBDBDB;
	border-radius: 50px;
	padding: 1rem 8rem;
}

/*modal end-----------------------------------------*/

/*mobile_header-----------------------------------------*/

#landing_mobile_header {
	height: 60px;
}

#landing_mobile_header .flex-area{
	display: flex;
	align-items: center;
	height: 100%;
}

#landing_mobile_header #logo_image{
	background-image: url(../images/header_icon.png);
	width: 30px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 12px;
}

#landing_mobile_header #logo_title{
	font-size: 2rem;
}

#landing_mobile_header #logo_text{
	margin-bottom: 0;
	font-size: 10px;
	margin-left: 8px;
}

#landing_ham_icon{
	color: #C8C8C8;
}

#landing_ham_icon div{
	background-color: #C8C8C8;
	width: 100%;
	height: 1.8px;
	margin-bottom: 6px;
}


#landing_ham_icon p{
	margin-bottom: 0;
	font-weight: 100;
	font-size: 8px;
	-webkit-transform: scale(0.7);
    -webkit-transform-origin:0 0;
    margin-left: 4px;
}

.chrome #landing_ham_icon p{
    -webkit-transform: scale(0.7);
    -webkit-transform-origin:0 0;
    }

body#landing label#ham_menu_icon{
	line-height: normal;
	padding: 1rem; 
	width: 28px;
	border-radius: 0;
	height: auto;
	box-sizing: content-box;
}

#landing_mobile_header{
		display: none;
}

/*mobile_header end-----------------------------------------*/

/*video----------------------------------------*/

video{
	margin: 0 auto;
	width: 100vw;
	z-index: 0;
}

div.video-wrap{
	position: relative;
	width: 100%;
}

div.video_over{
	background: rgba(0,77,128, 0.3);
	/*background-color: #004D7F;*/
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

div.video_over2{
	background-image:url(../images/lp_video_cover.jpg);
	opacity: 0.3;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

/*video end-----------------------------------------*/

footer > ul > li > a{
	color: #69AEFF;
}

@media screen and (max-width:768px) {

	body#landing h1 {
	font-size: 2.8rem;
	}

	#third-wrapper .items, #first-wrapper .items, #fourth-wrapper .items, #second-wrapper .items{
		flex-direction: column;
	}

	#first-wrapper , #second-wrapper , #third-wrapper, #fourth-wrapper, #fifth-wrapper{
	padding-left: 0;
	padding-right: 0;
	}

	#third-wrapper .item, 
	#first-wrapper .item, 
	#fourth-wrapper .image-area, #fourth-wrapper .item,
	#second-wrapper .image-area, #second-wrapper .item{
		width: 90vw;
		margin: 2rem auto;
		padding: 0;
	}

	#fourth-wrapper .image-area,
	#second-wrapper .image-area{
		height: 200px;
	}


	#static-entry-button{
		display: none;
	}

	#landing_mobile_header{
		display: block;
	}


	div#landing_mobile_top_content:before{
		width: 100vw;
		height: 10px;
		background-color: #4A90E2;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
	}
	div#landing_mobile_top_content{
		display: block;
		width: 100%;
		height: 500px;
		background-image: url("../images/lp_mobi_top.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 60px;
		text-align: center;
		position: relative;
		margin-top: -20px;
	}
	#mobile_top_content_intrs{
		margin-bottom: 8rem;
		z-index: 5;
	}
	p#mobile_top_content_intr{
		padding-top: 10vh;
		font-size: 3.2rem;
		text-align: center;
		width: 100%;
		background-color: transparent;
		color: #fff;
		z-index: 5;
		position: absolute;
		right: 0;
		left: 0;
		margin: auto;
	}
	p#mobile_top_content_intr_remark{
		color: #fff;
		font-size: 8px;
		margin: auto;
		text-align: center;
		z-index: 5;
		position: absolute;
		right: 0;
		left: 0;
		top: 170px;
	}

	#landing_mobile_top_image_add #rectangle{
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #4A90E2;
		width: 100%;
		height: 50px;
		z-index: 5;
	}

	#landing_mobile_top_image_add #rectangle::before{
		content: "";
		position: absolute;
		bottom: 50px;
		left: 0;
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-right: 50vw solid transparent;
		border-bottom: 15px solid #4A90E2;
		border-left: 50vw solid #4A90E2;
		z-index: 5;
	}

	#landing_mobile_top_image_add p{
		color: #fff;
		position: absolute;
		bottom: 0px;
		left: 10px;
		font-size: 1.4rem;
		z-index: 10;
	}


	#first-wrapper{
		margin-top: 0;
	}

	#first-wrapper .item:first-child{
		border-right: none;
	}

	#first-wrapper .item:last-child{
		border-left: none;
	}

	#first-wrapper .item-title{
		font-size: 2rem;
	}

	#first-wrapper .item-text{
		width: 80vw;
		margin: 0 auto;
		line-height: 22px;
	}

	#second-wrapper .item-title,
	#fourth-wrapper .item-title{
		font-size: 1.6rem;
	}

	#second-wrapper .item-text,
	#fourth-wrapper .item-text{
		font-size: 1.4rem;
		line-height: 28px;
	}

	#second-wrapper,
	#fourth-wrapper{
		padding-bottom: 2rem;
	}


	.dot{
		font-size: 8px;
		position: relative;
		display: inline-block;
		-webkit-transform: scale(0.5);
		-webkit-transform-origin:0 0;
	}

	.dot:before{
		content: "●";
		position: absolute;
		top:0;
		left: 36px;
	}

	.dot:after{
		content: "●";
		position: absolute;
		top:0;
		right: 36px;
	}

	.chrome .dot{
		-webkit-transform: scale(0.5);
		-webkit-transform-origin:0 0;
	}

	#fifth-wrapper div{
		top: 170px;
	    width: 220px;
	}

	#fifth-wrapper div p{
		font-size: 2rem;
	}

	#fifth-wrapper p span{
		margin-right: 1.4rem;
		font-size: 2.4rem;
	}

	#fifth-wrapper p.button-pre{
		top: 320px;
		font-size: 2rem;
	}

}











