


/*animation*/
#fadein {
    animation: fadeIn 3.4s ease 0s 1 normal;
    -webkit-animation: fadeIn 3.4s ease 0s 1 normal;
}
@keyframes fadeIn {
    0% {opacity: 0}
    60% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    60% {opacity: 0}
    100% {opacity: 1}
}
div#logo svg {
    stroke-dasharray: 3000;
    animation: logo 3s ease 0s 1 normal;
    -webkit-animation: logo 3s ease 0s 1 normal;
}
@keyframes logo {
    0% {stroke-dashoffset: 3000;
    	opacity: 1;
    	top: calc(50vh - 10vw);
    	left: 40vw;
    	width: 20vw;
    	height: 20vw}
    10% {stroke-dashoffset: 3000;}
    25% {left: 40vw;}
    50% {stroke-dashoffset: 0;
    	top: calc(50vh - 10vw);
    	left: calc(15vw);
    	width: 20vw;
    	height: 20vw}
    60% {opacity: 1}
    90% {opacity: 0}
    100% {opacity: 0;
    	  top: 0;
    	  left: 70px;
    	  width: 45px;
    	  height: 45px}
}
div#logo #logo_title {
    animation: logotitle 3s ease 0s 1 normal;
    -webkit-animation: logotitle 3s ease 0s 1 normal;
}
@keyframes logotitle {
    0% {stroke-dashoffset: 3000;
    	opacity: 0;
    	top: calc(50vh - 10vw);
		height: 20vw;
    	left: calc(40vw);}
    30% {opacity: 0;}
    50% {stroke-dashoffset: 0;
		opacity: 1;
    	top: calc(50vh - 10vw);
		width: 40vw;
		height: 20vw;
    	left: calc(40vw);}
    70% {opacity: 0}
    100% {opacity: 0;
    	width: 45px;
    	height: 45px;
    	  top: 0;
    	  left: calc(70px + 45px)}
}

/*logo-svg*/
div#logo svg {
	position: fixed;
	opacity: 0;
	z-index: 50;
	width: 45px;
	height: 45px;
	height: 0px;
	fill: #373737;
}
div#logo {
	position: fixed;
	z-index: 10000;
	width: 45px;
	height: 0px;
	fill: #373737;
}
div#logo #logo_title {
	position: fixed;
	background-image: url("../images/logotitle.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	opacity: 0;
	width: 40vw;
	height: 20vw;
	height: 0px;
  stroke-dasharray: 3000;
}


/*news*/
div#news_content {
	margin: 30px 10px;
}
div#news_title {
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 10px;
}
div#news_title img {
	border-radius: 50%;
	margin-right: 12px;
	margin-top: -4px;
}
div#news_table {
	background-color: white;
	border: none;
	height: 180px;
    z-index: 3;
}
div#news_table table {
	border: none;
	margin: 0;
    z-index: 3;
}
div#news_table table th {
	width: 200px;
}
div#news_table table th,
div#news_table table td {
	border: none;
	margin: 0;
}

/*linkmenu*/
div#menu_content {
	margin: 20px 0;
}
div#menu_content div div.menu_panel {
	color: white;
	padding: 30px;
	font-size: 25px;
	transition: font-size 0.5s;
}
div#menu_content div div.menu_panel:hover {
	font-size: 30px;
	transition: font-size 0.5s;
}
div#menu_content div div.menu_panel::after {
    display: block;
    content: '';
    position: relative;
    padding-top: 100%;
}
div#menu_content div div.menu_panel::before {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 50px 50px;
	border-color: transparent transparent #F1F0E1 transparent;
}
div.menu_panel img {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 70px);
    width: 30px;
}
div.menu_panel img {
    position: absolute;
    width: 38%;
    height: 38%;
    top: 35%;
    left: 31%;
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}
div.menu_panel:hover img {
    width: 44%;
    height: 44%;
    top: 33%;
    left: 28%;
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}
div.menu_panel_img::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    border: solid 0px rgba(255,255,255,0.1);
    transition: background-color 0.5s, width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}
div.menu_panel:hover div.menu_panel_img::before {
    width: 60%;
    height: 60%;
    top: 25%;
    left: 20%;
    background-color: rgba(255,255,255,0.1);
    transition: background-color 0.6s, width 0.6s, height 0.6s, top 0.6s, left 0.6s;
}
div.menu_panel_img::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transition: background-color 0.5s, width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}
div.menu_panel:hover div.menu_panel_img::after {
    width: 80%;
    height: 80%;
    top: 15%;
    left: 10%;
    background-color: rgba(255,255,255,0.1);
    transition: background-color 0.5s, width 0.5s, height 0.5s, top 0.5s, left 0.5s;
}

div#menu_content div div.menu_panel p {
    position: absolute;
}
div#menu_unabout {
	background-color: #F56151;
}
div#menu_prabout {
	background-color: #3D9EC7;
}
div#menu_detail {
	background-color: #90b670;
}
div#menu_access {
	background-color: #EAC200;
}
div#menu_qa {
	background-color: #f180a8;
}
div#menu_diary {
	background-color: #F29950;
}



@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
		/*panelここから*/
		div#menu_content div div.menu_panel{
			padding: 20px;
		}

		div#menu_content div div.menu_panel::before {
			bottom: 10px;
			right: 10px;
			border-width: 0 0 30px 30px;
		}
		/*panelここまで*/
    div#news_title{
    font-size: 20px;
    }

}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/

		/*panelここから*/
		div#menu_content div div.menu_panel{
			padding: 20px;
		}

		div#menu_content div div.menu_panel::before {
			bottom: 10px;
			right: 10px;
			border-width: 0 0 30px 30px;
		}
		/*panelここまで*/
    div#news_title{
    font-size: 24px;
    }
}
