

div.title_bar_pro03{
	background-color: #3D9EC7;
}

div.title_bar_icon_pro03{
	background-image: url(../images/menu2.png);
}

p#intr{
	padding:40px 0 30px 40px;
}

h2.subhead{
  padding-left: 10px;
  color: #1E7296;
}

p.text{
	padding:10px 0 30px 30px;
}

br.br_mobile{
	display: none;
}

br.br_tablet{
	display: none;
}

/*Responsive*/

@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
		br.br_mobile{
			display: block;
		}
		br.br_tablet{
			display: none;
		}
		br.br_pc{
			display: none;
		}
		p.text{
			font-size: 12px;
			line-height: 24px;
			padding: 20px;
			text-align: center;
		}
		p.text span{
			font-size: 16px;
		}
		p#intr{
			padding: 40px 20px 20px 20px;
		}
		h2.subhead{
			font-size: 20px;
			text-align: center;
		}

}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
		br.br_mobile{
			display: block;
		}
		br.br_tablet{
			display: none;
		}
		br.br_pc{
			display: none;
		}
		p.text{
			font-size: 12px;
			line-height: 24px;
			padding: 20px;
			text-align: center;
		}
		p.text span{
			font-size: 16px;
		}
		p#intr{
			padding: 40px 20px 20px 20px;
		}
		h2.subhead{
			font-size: 20px;
			text-align: center;
		}
		
}
