
div.title_bar_qa{
	background-color: #f180a8;
}

div.title_bar_icon_qa{
	background-image: url(../images/menu5.png);
}

p#intr{
  margin: 40px 0 40px 40px;
}

div.q-wrapper{
  height: 60px;

  margin-bottom: 50px;
}

div.a-wrapper01 {
	height: 170px;

  margin-bottom: 50px;
}

div.a-wrapper02{
	height: 320px;

  margin-bottom: 50px;
}

div.a-wrapper03{
	height: 150px;

	margin-bottom: 50px;
}

div.a-wrapper04{
	height: 150px;

  margin-bottom: 50px;
}

div.q{
  background-color: #57F1B2;
  width: 70%;
  display: inline-block;
  float: left;
  height: 100%;
	position: relative;
}

div.a{
  background-color: #FF8FB7;
  width: 70%;
  display: inline-block;
  float: right;
  height: 100%;
	position: relative;
}



p.q_text{
	width: 80%;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: inline-block;
	padding: 20px 0;
}

p.a_text{
	width: 85%;

	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: inline-block;
	padding: 20px 0;
}

div.q_iconarea{
  height: 100%;
  width: 20%;
  float: left;
	position: relative;
	display: inline-block;
}

div.a_iconarea{
  height: 100%;
  width: 15%;
  float: left;
	position: relative;
	display: inline-block;
}

div.qa_icon{
  background-size: contain;
	background-repeat: no-repeat;
  width: 50px;
  height: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

div.q_icon{
	background-image: url(../images/q.png);
}

div.a_icon{
	background-image: url(../images/a.png);
}

div.triangle_q{
	width: 0;
	height: 0;
	border-left: 30px solid #57F1B2;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	display: inline-block;
}

div.triangle_a01{
	width: 0;
	height: 0;
	border-right: 50px solid #FF8FB7;
	border-top: 85px solid transparent;
	border-bottom: 85px solid transparent;
	float: right;
}

div.triangle_a02{
	width: 0;
	height: 0;
	border-right: 80px solid #FF8FB7;
	border-top: 160px solid transparent;
	border-bottom: 160px solid transparent;
	float: right;
}


div.triangle_a03{
	width: 0;
	height: 0;
	border-right: 50px solid #FF8FB7;
	border-top: 75px solid transparent;
	border-bottom: 75px solid transparent;
	float: right;
}


div.triangle_a04{
	width: 0;
	height: 0;
	border-right: 45px solid #FF8FB7;
	border-top: 75px solid transparent;
	border-bottom: 75px solid transparent;
	float: right;
}

/*Responsive*/

@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
		p#q_text02{
			padding: 12px 0;
		}
		div.a-wrapper01 {
			height: 140px;
		}
		div.a-wrapper02 {
			height: 240px;
		}
		div.a-wrapper03 {
			height: 140px;
		}
		div.a-wrapper04 {
			height: 120px;
		}
		div.triangle_a01 {
			border-top: 70px solid transparent;
			border-bottom: 70px solid transparent;
		}
		div.triangle_a02 {
			border-top: 120px solid transparent;
			border-bottom: 120px solid transparent;
		}
		div.triangle_a03 {
			border-top: 70px solid transparent;
			border-bottom: 70px solid transparent;
		}
		div.triangle_a04 {
			border-top: 60px solid transparent;
			border-bottom: 60px solid transparent;
		}

		div.qa_icon {
			width: 40px;
			height: 40px;
		}
		div.a_icon{
			left: -56px;
		}
		div.q-wrapper {
			margin-bottom: 16px;
		}
		div.a-wrapper {
			margin-bottom: 30px;
		}
		div.triangle_a02 {
			border-right: 50px solid #FF8FB7;
		}
		div.a {
			width: 75%;
		}
		div.q {
			width: 80%;
		}
		p#intr{
			font-size: 14px;
		}
		p.q_text{
			line-height: 20px;
		}
		p.a_text{
			left: 0;
			right: 0;
			line-height: 20px;
		}
	}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
		p#q_text02{
			padding: 12px 0;
		}
		div.a-wrapper01 {
			height: 140px;
		}
		div.a-wrapper02 {
			height: 240px;
		}
		div.a-wrapper03 {
			height: 140px;
		}
		div.a-wrapper04 {
			height: 120px;
		}
		div.triangle_a01 {
			border-top: 70px solid transparent;
			border-bottom: 70px solid transparent;
		}
		div.triangle_a02 {
			border-top: 120px solid transparent;
			border-bottom: 120px solid transparent;
		}
		div.triangle_a03 {
			border-top: 70px solid transparent;
			border-bottom: 70px solid transparent;
		}
		div.triangle_a04 {
			border-top: 60px solid transparent;
			border-bottom: 60px solid transparent;
		}
		div.qa_icon {
			width: 40px;
			height: 40px;
		}
		div.a_icon{
			left: -56px;
		}
		p.a_text {
			left: 0;
			right: 0;
			line-height: 20px;
		}
		p.q_text{
			line-height: 20px;
		}
		div.q-wrapper {
			margin-bottom: 16px;
		}
		div.a-wrapper {
			margin-bottom: 30px;
		}
		div.triangle_a02 {
			border-right: 50px solid #FF8FB7;
		}
		div.a {
			width: 75%;
		}
		div.q {
			width: 80%;
		}
		p#intr{
			font-size: 14px;
		}
		p.q_text{
			font-size: 12px;
		}
		p.a_text{
			font-size: 12px;
			left: 20%;
		}

}
