
div.title_bar_qa{
	background-color: #f180a8;
}

div.title_bar_icon_qa{
	background-image: url(../images/menu5.png);
}

p#intr{
  margin: 40px 0 40px 40px;
}

div.q-wrapper{
  height: 60px;

  margin-bottom: 50px;
}

div.a-wrapper01 {
	height: 170px;

  margin-bottom: 50px;
}

div.a-wrapper02{
	height: 320px;

  margin-bottom: 50px;
}

div.a-wrapper03{
	height: 150px;

	margin-bottom: 50px;
}

div.a-wrapper04{
	height: 150px;

  margin-bottom: 50px;
}

div.q{
  background-color: #57F1B2;
  width: 70%;
  display: inline-block;
  float: left;
  height: 100%;
	position: relative;
}

div.a{
  background-color: #FF8FB7;
  width: 70%;
  display: inline-block;
  float: right;
  height: 100%;
	position: relative;
}



p.q_text{
	width: 80%;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: inline-block;
	padding: 20px 0;
}

p.a_text{
	width: 85%;

	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: inline-block;
	padding: 20px 0;
}

div.q_iconarea{
  height: 100%;
  width: 20%;
  float: left;
	position: relative;
	display: inline-block;
}

div.a_iconarea{
  height: 100%;
  width: 15%;
  float: left;
	position: relative;
	display: inline-block;
}

div.qa_icon{
  background-size: contain;
  width: 50px;
  height: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

div.q_icon{
	background-image: url(../images/q.png);
}

div.a_icon{
	background-image: url(../images/a.png);
}

div.triangle_q{
	width: 0;
	height: 0;
	border-left: 30px solid #57F1B2;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	display: inline-block;
}

div.triangle_a01{
	width: 0;
	height: 0;
	border-right: 50px solid #FF8FB7;
	border-top: 85px solid transparent;
	border-bottom: 85px solid transparent;
	float: right;
}

div.triangle_a02{
	width: 0;
	height: 0;
	border-right: 80px solid #FF8FB7;
	border-top: 160px solid transparent;
	border-bottom: 160px solid transparent;
	float: right;
}


div.triangle_a03{
	width: 0;
	height: 0;
	border-right: 50px solid #FF8FB7;
	border-top: 75px solid transparent;
	border-bottom: 75px solid transparent;
	float: right;
}


div.triangle_a04{
	width: 0;
	height: 0;
	border-right: 45px solid #FF8FB7;
	border-top: 75px solid transparent;
	border-bottom: 75px solid transparent;
	float: right;
}

/*Responsive*/

@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
		p#intr{
			font-size: 14px;
		}
		p.q_text{
			font-size: 12px;
		}
		p.a_text{
			font-size: 12px;
		}
		/*ハンバーガーメニューここから*/
	  #ham_menu_active {
	      background-color: #fff; /*メニュー背景色*/
	      box-sizing: border-box;
	      height: 100%;
	      padding: 10px 20px; /*メニュー内左右上下余白*/
	      position: fixed;
	      right: -250px; /*メニュー横幅 width と合わせる*/
	      top: 0;
	      transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
	      width: 250px; /*メニュー横幅*/
	      z-index: 1050;
	  }

	  #ham_menu_background {
	      background-color: #333; /*黒背景*/
	      display: block;
	      height: 100%;
	      opacity: 0;
	      position: fixed;
	      right: 0;
	      top: 0;
	      transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
	      width: 100%;
	      z-index: -1;
	  }

	  #ham_menu_icon {
	      background-color: #fff; /*アイコン部分背景色*/
	      border-radius: 0 0 0 10px; /*左下角丸*/
	      color: #333; /*アイコン（フォント）色*/
	      cursor: pointer;
	      display: block;
	      font-size: 50px; /*アイコン（フォント）サイズ*/
	      height: 50px; /*アイコン縦高さ*/
	      line-height: 50px; /*縦位置中央化*/
	      position: fixed;
	      right: 0;
	      text-align: center;
	      top: 0;
	      width: 50px; /*アイコン横幅*/
	      transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
	      z-index: 1050;
	  }

	  #ham_menu_cb {
	      display: none; /*チェックボックス本体は消しておく*/
	  }

	  #ham_menu_cb:checked ~ #ham_menu_active,
	  #ham_menu_cb:checked ~ #ham_menu_icon {
	      transform: translate(-250px); /*メニュー本体横幅 width と合わせる*/
	  }

	  #ham_menu_cb:checked ~ #ham_menu_background {
	      opacity: 0.5;
	      z-index: 1040;
	  }

	  div#ham_menu_active ul{
	    list-style: none;
	    padding: 0;
	  }

	  div#ham_menu_active li{
	    margin-bottom: 10px;
	  }

	  div#ham_menu_active li.ham_upper_list{
	    border-bottom: 1px solid;
	  }

	  div#ham_menu_active li a{
	    text-decoration: none;
	  }

	  div#ham_menu_active li a:active{
	    color: gray;
	  }
	  /*ハンバーガーメニューここまで*/

	  /*ハンバーガーメニュー付随ここから*/
	  nav.navbar{
	    display: none;
	  }
	  div#top_content_page{
	    display: none;
	  }
	  div#mobile_header{
	    width: 100%;
	    height: 70px;
	    position: relative;
	  }
	  div#mobile_header_logo{
	    width: 150px;
	    height: 40px;
	    position: absolute;
	    top: 0;;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    margin: auto;
	    display: inline-block;
	  }
	  div#mobile_header_logo_image{
	    width: 40px;
	    height: 40px;
	    background-image: url(../images/header_icon.png);
	    background-size: contain;
	    background-repeat: no-repeat;
	    float: left;
	  }
	  div#mobile_header_logo_text{
	    font-size: 30px;
	    float: left;
	    margin-left: 5px;
	  }
	  /*ハンバーガーメニュー付随ここまで*/
}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
}
