@font-face {
	font-family: "logotypejp";
	src: url('../font/logotypejp_mp_m_1.1.ttf') format('OpenType');
}
@font-face {
	font-family: "logotypejp-b";
	src: url('../font/logotypejp_mp_b_1.1.ttf') format('OpenType');
}
/*@font-face {
	font-family: "noto";
	src: url('../font/NotoSansCJKjp-Regular.otf') format('OpenType');
}
@font-face {
	font-family: "noto-black";
	src: url('../font/NotoSansCJKjp-Black.otf') format('OpenType');
}
@font-face {
	font-family: "noto-dl";
	src: url('../font/NotoSansCJKjp-DemiLight.otf') format('OpenType');
}
@font-face {
	font-family: "noto-bold";
	src: url('../font/NotoSansCJKjp-Bold.otf') format('OpenType');
}
*/

/*テキスト共通＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ー*/

p.align_c_c_c{
	text-align: center;

}
p.align_l_l_l{
	text-align: left;
}
p.align_r_l_l{
	text-align: right;
}

/*fontreadme body p は20-16-12*/

p{
  font-size: 20px;
}


@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
  p{
    font-size: 12px;
	}
	p.align_r_l_l{
		text-align: left;
	}
	div#top_menu,{
		display: none;
	}
	div#pc_header{
		display: none;
	}

}
@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
    p{
      font-size: 16px;
    }
		p.align_r_l_l{
			text-align: left;
		}
		div#pc_header{
			display: none;
		}

}


/*指定*/
body {
	font-family: "logotypejp", "游ゴシック" !important;
	color: #373737;
	font-size: 62.5%;
}

body a:hover {
	color: #373737;
	text-decoration: none;
}
body a {
	color: #373737;
	text-decoration: none;
}
div.row {
	margin-left: 0;
	margin-right: 0;
}
div.limit_wsize {
	max-width: 970px;
	margin: 0 auto;
}



div#mobile_header{
	display: none;
}
div#ham_menu_wrapper{
	display: none;
}

/*page*/
div.container {
	z-index: -2;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 20px;
	background-color: #F1F0E1;
	margin-top: 100px;
}
div#content_top{
	z-index: -2;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 20px;
	background-color: #F1F0E1;
	margin-top: 0px;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	box-shadow: 0px 1px 10px;
	background-color: white;
}
/*new_navsmここから*/
div#top_menu{
	width: 100%;
}
ul#top_menu_items{
	display: flex;
	justify-content: center;
	list-style: none;
	margin-bottom: 0;
}
li.top_menu_item{
	padding: 20px 65px;
	position: relative;
}
li.top_menu_item a{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
}
li.top_menu_item a::after{
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	background-color: grey;
	transform: scaleX(0);
}
li.top_menu_item a:hover::after{
	transform: scaleX(1);
	transition: 0.4s;
}

a#top_menu_text1::after{
	background-color: #F56151;
}
a#top_menu_text2::after{
	background-color: #3D9EC7;
}
a#top_menu_text3::after{
	background-color: #90b670;
}
a#top_menu_text4::after{
	background-color: #EAC200;
}
a#top_menu_text5::after{
	background-color: #f180a8;
}
a#top_menu_text6::after{
	background-color: #F29950;
}
a#top_menu_text1:hover{
	color: #F56151;
}
a#top_menu_text2:hover{
	color: #3D9EC7;
}
a#top_menu_text3:hover{
	color: #90b670;
}
a#top_menu_text4:hover{
	color: #EAC200;
}
a#top_menu_text5:hover{
	color: #f180a8;
}
a#top_menu_text6:hover{
	color: #F29950;
}

/*new_navsmここまで*/

/*navbar*/
nav.navbar-default {
	background-color: rgba(248,248,248,1);
	border: none;
}

ul#nav_fline {
	vertical-align: middle;
	transition: opacity 0.3s;
}

ul#nav_fliner{
}

ul#nav_fline:hover {
	opacity: 0.8;
	transition: opacity 0.3s;
}

ul#nav_fline li:nth-child(1) {
	padding-top: 5px;
}

ul#nav_fline li:nth-child(2) {
	font-size: 40px;
	vertical-align: middle;
	padding: 0 10px;
	font-weight: bold;
}
ul#nav_fline li:nth-child(3) {
	font-size: 14px;
	padding-top: 9px;
	padding-left: 20px;
	font-weight: bold;
}
ul#nav_fliner li {
	padding-top: 10px;
	padding-left: 10px;
}
ul#nav_fliner li a {
	margin: 0;
	padding: 0;
}
nav.navbar {
	margin-bottom: 0;
	font-size: 18px;
	box-shadow: 0 1px 10px grey;
}

div.navbar-collapse {
	padding: 0 30px !important;
	margin: 0 auto;
}


/*topcover*/
div#top_content {
	height: 100vh;
	width: 100%;
	position: relative;
}
div#top_content_page {
	height: 92px;
	width: 100%;
}

div#top_image {
	background-image: url("../images/top_image.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
div#top_images_text {
	background-color: rgba(126, 126, 126, 0.6);
	padding-left: 50px;
	position: absolute;
	bottom: 6vh;
	left: 80px;
	width: 100%;
	margin: 0;
	color: white;
	font-size: 58px;
	font-weight: bold;
	text-shadow: 1px 3px 2px rgba(0,0,0,0.5);
}
a#top_images_float div#top_images_float_text {
	position: absolute;
	right: 120px;
	top: 300px;
	color: white;
	font-size: 30px;
	font-weight: bold;
}
a#top_images_float:hover div#top_images_float_text {
	font-size: 50px;
	transition: font-size 0.5s;
}
a#top_images_float::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
	width: 40vw;
	height: 0;
	border-style: solid;
	border-width: 100vh 00px 00px 200px;
	border-color: rgba(245,97,81,0.5) transparent transparent transparent;
	transition: border-color 0.5s, width 0.3s;
}
a#top_images_float:hover::before {
	width: 60vw;
	border-color: rgba(245,97,81,0.9) transparent transparent transparent;
	transition: border-color 0.5s, width 0.5s;
}
a#top_images_float::after {
    display: block;
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 60vh;
    right: 150px;
	width: 150px;
	height: 150px;
    background-color: transparent;
	transition: border 0.5s, background-color 0.5s;
}
a#top_images_float:hover::after {
	background-image: url("../images/arrow_button.png");
	background-repeat: no-repeat;
	background-position: center;
    background-color: transparent;
    border: solid 4px white;
	transition: border 0.3s, background-color 0.5s;
}
/*pages*/
span.space_pc{
	display: inline-block;
}
span.space_tablet{
	display: none;
}
span.space_mobile{
	display: none;
}
br.br_pc{
	display: block;
}

br.br_tablet{
	display: none;
}

br.br_mobile{
	display: none;
}
div.clear{
	clear: both;
}

div.top_bar{
	margin-top: 30px;
}
div.pankuzu{
	background-color: #F56151;
	height: 30px;
	line-height: 30px;
	width: 70%;
	position: relative;
	display: inline-block;
	float: left;
}
div.pankuzu p{
	padding-left:20px;
	position: absolute;
	margin: 0;
	color: rgba(248,248,248,1);
	font-size: 16px;
}
div.pankuzu a{
	text-decoration: underline;
	color: white;
}
div.triangle_pankuzu{
	width: 0px;
	height: 0px;
	border-left: 15px solid #F56151;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	display: inline-block;
	float: left;
}

div.title_bar{
	width: 100%;
	height: 120px;
	position: relative;
}


div.title_bar_icon{
	background-size: contain;
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
	position: absolute;
	top:0;
	bottom: 0;
	margin: auto;
	left: 30px;
}

h1.title_bar_text{
	position: absolute;
	top:0;
	bottom: 0;
	margin: auto;
	line-height: 120px;
	left: 130px;
	color: rgba(248,248,248,1);
}

span{
  font-size: 24px;
}

span.red{
  color: #E34634;
}

span.blue{
  col
	or: #1E7296;
}

p.text{
	line-height: 36px;
}

p#entry_text{
	color: white;
	line-height: 80px;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 24px;
}

div.entry_btn{
	background-color: #33B548;
	width: 95%;
	height: 80px;
	margin: 30px auto;
	position: relative;
}
div.entry_btn:hover{
	background-color: #93EAA1;
}
a#to_calendar{
		text-decoration: none;
}

/*footerここから*/
footer {
	height: 200px;
	padding: 40px;
	text-align: center;
	vertical-align: middle;
	background-color: white;
	color: grey;
}
footer > ul{
	list-style: none;
	display: flex;
	justify-content: center;
}
footer a{
	color: grey;
}
footer > ul > li{
	width: 12%;
	text-align: left;
}
footer > ul > li > ul{
	list-style: none;
	padding-left: 10px;
	padding-top: 6px;
}
footer > ul > li > ul > li{
	text-align: left;
}
footer > ul > li > ul > li > a{
	font-size: 12px;
}
footer p{
	margin-top: 36px;
	font-size: 14px;
	margin-bottom: 20px;
}

div#mobile_top_content{
	display: none;
}

@media screen and (max-width:768px) {
	footer{
		height: auto;
		padding: 20px;
	}
	footer > ul{
		flex-direction: column;
	}
	footer > ul > li{
		width: 100%;
		text-align: left;
		margin: 6px 0;
	}
	footer > ul > li > ul{
		padding-left: 20px;
	}
	footer p{
		font-size: 10px;
	}
}
/*footerここまで*/

/*registration_flow*/
div#registration_flow{
	width: 100%;
	background-color: #89CAE6;
	height: 1030px;
	position: relative;
	margin-top: 60px;
}
div#registration_flow::before{
	content: "";
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 50px solid #89CAE6;
	position: absolute;
	top: -50px;
	left: 46%;
}
 p#registration_flow_text01{
	 padding-top: 40px;
	 text-align: center;
	 color: white;
	 margin: 0;
	 font-size: 16px;
 }

 p#registration_flow_text02{
	text-align: center;
	margin-bottom: 20px;
	color: #E64747;
	font-size: 28px;
 }

span#flow_text_4{
	font-size: 48px;
	font-weight: bold;
}

div#registration_flow_items_wrapper{
	position: relative;
	width: 90%;
	margin: 0 auto;
}
div#registration_flow_items_wrapper::before{
	content:"";
	display: block;
	padding-top: 90%;
}
 div#registration_flow_items{
	 position: absolute;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 right: 0;
 }

 div#registration_flow_items_top{
	 width: 100%;
	 height: 45%;
 }

 div#registration_flow_items_center{
	 width: 100%;
	 height: 10%;
 }

 div#registration_flow_items_bottom{
	 width: 100%;
	 height: 45%;
 }
 div.flow{
	 width: 45%;
	 height: 100%;
	 background-color: white;
	 float: left;
	 border-radius: 30px;
 }

p#flow_text04{
	margin-bottom: 0;
}



 div#flow_arrow_area_top{
	 width: 10%;
	 height: 100%;
	 float: left;
 }

 div#flow_arrow_area_bottom{
	 width: 10%;
	 height: 100%;
	 float: left;
 }

 p#flow_arrow_top{
	 padding: 120px 0;
 }

 p#flow_arrow_bottom{
	 padding: 120px 0;
 }

 p#flow_arrow_center{
	 transform: rotate(45deg);
 }

 p.flow_arrow{
	 font-size: 64px;
	 text-align: center;
 }

 div.flow_image{

	 background-repeat: no-repeat;
	 background-size: contain;
	 width: 85%;
	 height: 80%;
	 margin: 0 auto;
 }

 div#flow_image01{
	 background-image: url("../images/flow01.png");
 }

 div#flow_image02{
	 background-image: url("../images/flow02.png");
 }

 div#flow_image03{
	 background-image: url("../images/flow03.jpeg");
 }

 div#flow_image04{
	 background-image: url("../images/flow04.jpeg");
 }

 p.flow_text{
	 text-align: center;
	 margin: 15px 0;
	 font-size: 16px;
 }
/*レスポンシブ*/
 @media screen and (max-width:425px) {
     /*　画面サイズが425pxまではここを読み込む　*/
 		span.space_pc{
 			display: none;
 		}
 		span.space_tablet{
 			display: none;
 		}
 		span.space_mobile{
 			display: inline-block;
 		}
		span{
		  font-size: 14px;
		}
 		br.br_pc{
 			display: none;
 		}

 		br.br_tablet{
 			display: none;
 		}

 		br.br_mobile{
 			display: block;
 		}
 		#title_bar_font-size16{
 			font-size: 16px;
 		}

 		div#mobile_top_content_entryarea:hover{
 			background-color: rgba(255, 140, 127, 0.8);
 		}
 		div.entry_btn:hover{
 			transition: 0s;
 		}

 		/*registration_flow*/
 		div#registration_flow::before {
 			left: 42.5%;
 		}
 		p.flow_text {
     margin: 20px 0;
 		}
 		div.flow_image {
     width: 90%;
     height: 80%;
 		}
 		p.flow_arrow{
 			font-size: 44px;
 		}
 		p#flow_arrow_top {
     padding: 0;
 		transform: rotate(90deg);
 		}
 		p#flow_arrow_bottom {
     padding: 0;
 		transform: rotate(90deg);
 		}
 		p#flow_arrow_center{
 			transform: rotate(0deg);
 		}
 		div#registration_flow_items_top{
 	 	 width: 290px;
 	 	 height: 700px;
 		 margin: 0 auto;
 	  }

 	  div#registration_flow_items_center{
 	 	 width: 100%;
 	 	 height: 70px;;
 	  }

 	  div#registration_flow_items_bottom{
 	 	 width: 290px;
 	 	 height: 700px;
 		 margin: 0 auto;
 	  }

 		div#flow01{
 			width: 100%;
 			height: 45%;
 		}
 		div#flow02{
 			width: 100%;
 			height: 45%;
 		}
 		div#flow_arrow_area_top{
 			width: 100%;
 			height: 10%;
 		}
 		div#flow03{
 			width: 100%;
 			height: 45%;
 		}
 		div#flow04{
 			width: 100%;
 			height: 45%;
 		}
 		div#flow_arrow_area_bottom{
 			width: 100%;
 			height: 10%;
 		}
 		div#registration_flow {
 			height: 1720px;
 		}
 		/*registration_flow*/
 		div#news_table {
     background-color: white;
     border: none;
     height: 100px;
     z-index: 3;
 }

 		div#top_content{
 			display: none;
 		}
 		div#mobile_top_content{
 			display: block;
 			width: 100%;
 			height: 230px;
 			background-image: url("../images/top_image.png");
 			background-size: cover;
 			background-repeat: no-repeat;
 			position: relative;
			margin-top: 70px;
 		}
 		div#mobile_top_content_intr{
			font-size: 14px;
 			text-align: center;
 			width: 100%;
 			height: 22%;
 			position: absolute;
 			top: 0;
 			bottom: 120px;
 			left: 0;
 			right: 0;
 			margin: auto;
 			padding-top: 8px;
 			background-color: rgba(255, 255, 255, 0.6);
 		}
		div#mobile_top_content_intr p{
			font-size: 8px;
			margin: 0;
		}

 		div#mobile_top_content_entryarea{
 			background-color: rgba(245, 97, 81, 0.8);
 			position: absolute;
 			top: 40px;
 			bottom: 0;
 			left: 0;
 			right: 0;
 			margin: auto;
 			width: 70%;
 			height: 30%;
 			text-align: center;
 			padding-top: 25px;
 			color: white;
 		}
		p#entry_text{
			line-height: 60px;
			font-size: 18px;
		}
		div.entry_btn{
			height: 60px;
		}
 		div.title_bar{
 			height: 60px;
 		}
 		div.title_bar_icon{
 			width: 45px;
 			height: 45px;
 			left: 20px;
 		}
 		h1.title_bar_text {
     position: absolute;
     top: 0;
     bottom: 0;
     margin: auto;
     line-height: 60px;
     left: 74px;
     color: rgba(248,248,248,1);
 		font-size: 12px;
 		}
 		div.pankuzu{
 			height: 20px;
 			line-height: 20px;
 		}
 		div.triangle_pankuzu{
 			border-left: 12px solid #F56151;
 			border-top: 10px solid transparent;
 			border-bottom: 10px solid transparent;
 		}
 		div.pankuzu p{
 			font-size: 8px;
 			padding-left: 10px;
 			overflow: hidden;
 			text-overflow: ellipsis;
 			white-space: nowrap;
 			width: 100%;
 		}
		div#top_menu{
			display: none;
		}
		div#content{
			margin-top: 70px;
		}
 		/*ハンバーガーメニューここから*/
 		div#ham_menu_wrapper{
 			display: block;
 		}
 	  #ham_menu_active {
 	      background-color: #fff; /*メニュー背景色*/
 	      box-sizing: border-box;
 	      height: 100%;
 	      padding: 10px 20px; /*メニュー内左右上下余白*/
 	      position: fixed;
 	      right: -250px; /*メニュー横幅 width と合わせる*/
 	      top: 0;
 	      transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
 	      width: 250px; /*メニュー横幅*/
 	      z-index: 1050;
 	  }

 	  #ham_menu_background {
 	      background-color: #333; /*黒背景*/
 	      display: block;
 	      height: 100%;
 	      opacity: 0;
 	      position: fixed;
 	      right: 0;
 	      top: 0;
 	      transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
 	      width: 100%;
 	      z-index: -1;
 	  }

 	  #ham_menu_icon {
 	      background-color: #fff; /*アイコン部分背景色*/
 	      border-radius: 0 0 0 10px; /*左下角丸*/
 	      color: #333; /*アイコン（フォント）色*/
 	      cursor: pointer;
 	      display: block;
 	      font-size: 50px; /*アイコン（フォント）サイズ*/
 	      height: 50px; /*アイコン縦高さ*/
 	      line-height: 50px; /*縦位置中央化*/
 	      position: fixed;
 	      right: 0;
 	      text-align: center;
 	      top: 0;
 	      width: 50px; /*アイコン横幅*/
 	      transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
 	      z-index: 1050;
 	  }

 	  #ham_menu_cb {
 	      display: none; /*チェックボックス本体は消しておく*/
 	  }

 	  #ham_menu_cb:checked ~ #ham_menu_active,
 	  #ham_menu_cb:checked ~ #ham_menu_icon {
 	      transform: translate(-250px); /*メニュー本体横幅 width と合わせる*/
 	  }

 	  #ham_menu_cb:checked ~ #ham_menu_background {
 	      opacity: 0.5;
 	      z-index: 1040;
 	  }

 	  div#ham_menu_active ul{
 	    list-style: none;
 	    padding: 0;
 	  }

 	  div#ham_menu_active li{
 	    margin: 20px 0;
 	  }

 	  div#ham_menu_active li.ham_upper_list{
 	    border-bottom: 3px solid;
 	  }

 		div#ham_menu_active li#ham_upper_list_uni{
 			border-color: #F56151;
 		}

 		div#ham_menu_active li#ham_upper_list_pro{
 			border-color: #3D9EC7;
 		}

 		div#ham_menu_active li#ham_upper_list_course{
 			border-color: #90b670;
 		}

 		div#ham_menu_active li#ham_upper_list_access{
 			border-color: #EAC200;
 		}

 		div#ham_menu_active li#ham_upper_list_qa{
 			border-color: #f180a8;
 		}

 		div#ham_menu_active li#ham_upper_list_diary{
 			border-color: #F29950;
 		}

 	  div#ham_menu_active li a{
 	    text-decoration: none;
			font-size: 18px;
 	  }

 	  div#ham_menu_active li a:active{
 	    color: gray;
 	  }
 	  /*ハンバーガーメニューここまで*/

 	  /*ハンバーガーメニュー付随ここから*/
 		div#mobile_header{
 			display: block;
 			z-index: 1000;
 			background-color: white;
 		}
 	  nav.navbar{
 	    display: none;
 	  }
 	  div#top_content_page{
 	    display: none;
 	  }
 	  div#mobile_header{
 	    width: 100%;
 	    height: 70px;
 	    position: relative;
 	  }
 	  div#mobile_header_logo{
 	    width: 150px;
 	    height: 40px;
 	    position: absolute;
 	    top: 0;;
 	    bottom: 0;
 	    right: 0;
 	    left: 0;
 	    margin: auto;
 	    display: inline-block;
 	  }
 	  div#mobile_header_logo_image{
 	    width: 40px;
 	    height: 40px;
 	    background-image: url(../images/header_icon.png);
 	    background-size: contain;
 	    background-repeat: no-repeat;
 	    float: left;
 	  }
 	  div#mobile_header_logo_text{
 	    font-size: 30px;
 	    float: left;
 	    margin-left: 5px;
 	  }
 	  /*ハンバーガーメニュー付随ここまで*/
 }
 /*レスポンシブ*/
 @media screen and (min-width:426px) and ( max-width:768px) {
     /*　画面サイズが426pxから768pxまではここを読み込む　*/
 		span.space_tablet{
 			display: inline-block;
 		}
		span{
		  font-size: 18px;
		}
 		br.br_pc, br.br_mobile, span.space_pc, span.space_mobile{
 			display: none;
 		}
 		br.br_tablet{
 			display: block;
 		}
 		/*registration_flow*/
 		div#registration_flow::before {
 			left: 42.5%;
 		}
 		p.flow_text {
     margin: 20px 0;
 		}
 		div.flow_image {
     width: 90%;
     height: 80%;
 		}
 		p.flow_arrow{
 			font-size: 44px;
 		}
 		p#flow_arrow_top,p#flow_arrow_bottom{
     padding: 0;
 		transform: rotate(90deg);
 		}
 		p#flow_arrow_center{
 			transform: rotate(0deg);
 		}
 		div#registration_flow_items_top{
 	 	 width: 290px;
 	 	 height: 700px;
 		 margin: 0 auto;
 	  }

 	  div#registration_flow_items_center{
 	 	 width: 100%;
 	 	 height: 70px;
 	  }

 	  div#registration_flow_items_bottom{
 	 	 width: 290px;
 	 	 height: 700px;
 		 margin: 0 auto;
 	  }

 		div#flow01,div#flow02,div#flow03,div#flow04{
 			width: 100%;
 			height: 45%;
 		}
 		div#flow_arrow_area_top{
 			width: 100%;
 			height: 10%;
 		}
 		div#flow_arrow_area_bottom{
 			width: 100%;
 			height: 10%;
 		}
 		div#registration_flow {
 			height: 1720px;
 		}
 		/*registration_flow*/

 		div#top_content{
 			display: none;
 		}
 		div#mobile_top_content{
 			display: block;
 			width: 100%;
 			height: 230px;
 			background-image: url("../images/top_image.png");
 			background-size: cover;
 			background-repeat: no-repeat;
 			position: relative;
			margin-top: 70px;
 		}
 		div#mobile_top_content_intr{
			font-size: 16px;
 			text-align: center;
 			width: 100%;
 			height: 22%;
 			position: absolute;
 			top: 0;
 			bottom: 120px;
 			left: 0;
 			right: 0;
 			margin: auto;
 			padding-top: 8px;
 			background-color: rgba(255, 255, 255, 0.5);
 		}
		div#mobile_top_content_intr p{
			font-size: 10px;
		}
 		div#mobile_top_content_entryarea{
 			background-color: rgba(245, 97, 81, 0.8);
 			position: absolute;
 			top: 40px;
 			bottom: 0;
 			left: 0;
 			right: 0;
 			margin: auto;
 			width: 70%;
 			height: 30%;
 			text-align: center;
 			padding-top: 25px;
 			color: white;
 		}
 		p#mobile_top_content_entrytext{

 		}
		p#entry_text{
			line-height: 60px;
			font-size: 18px;
		}
		div.entry_btn{
			height: 60px;
		}
 		div.title_bar{
 			height: 60px;
 		}
 		div.title_bar_icon{
 			width: 45px;
 			height: 45px;
 			left: 20px;
 		}
 		h1.title_bar_text {
     position: absolute;
     top: 0;
     bottom: 0;
     margin: auto;
     line-height: 60px;
     left: 74px;
     color: rgba(248,248,248,1);
 		font-size: 16px;
 		}
 		div.pankuzu{
 			height: 20px;
 			line-height: 20px;
 		}
 		div.triangle_pankuzu{
 			border-left: 12px solid #F56151;
 			border-top: 10px solid transparent;
 			border-bottom: 10px solid transparent;
 		}
 		div.pankuzu p{
 			font-size: 8px;
 			padding-left: 10px;
 			overflow: hidden;
 			text-overflow: ellipsis;
 			white-space: nowrap;
 			width: 100%;
 		}
		div#top_menu{
			display: none;
		}
		div#content{
			margin-top: 70px;
		}
 		/*ハンバーガーメニューここから*/
 		div#ham_menu_wrapper{
 			display: block;
 		}
 	  #ham_menu_active {
 	      background-color: #fff; /*メニュー背景色*/
 	      box-sizing: border-box;
 	      height: 100%;
 	      padding: 10px 20px; /*メニュー内左右上下余白*/
 	      position: fixed;
 	      right: -250px; /*メニュー横幅 width と合わせる*/
 	      top: 0;
 	      transition: transform 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
 	      width: 250px; /*メニュー横幅*/
 	      z-index: 1050;
 	  }

 	  #ham_menu_background {
 	      background-color: #333; /*黒背景*/
 	      display: block;
 	      height: 100%;
 	      opacity: 0;
 	      position: fixed;
 	      right: 0;
 	      top: 0;
 	      transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
 	      width: 100%;
 	      z-index: -1;
 	  }

 	  #ham_menu_icon {
 	      background-color: #fff; /*アイコン部分背景色*/
 	      border-radius: 0 0 0 10px; /*左下角丸*/
 	      color: #333; /*アイコン（フォント）色*/
 	      cursor: pointer;
 	      display: block;
 	      font-size: 50px; /*アイコン（フォント）サイズ*/
 	      height: 50px; /*アイコン縦高さ*/
 	      line-height: 50px; /*縦位置中央化*/
 	      position: fixed;
 	      right: 0;
 	      text-align: center;
 	      top: 0;
 	      width: 50px; /*アイコン横幅*/
 	      transition: all 0.3s linear 0s; /*0.3s はアニメーションにかかる時間*/
 	      z-index: 1050;
 	  }

 	  #ham_menu_cb {
 	      display: none; /*チェックボックス本体は消しておく*/
 	  }

 	  #ham_menu_cb:checked ~ #ham_menu_active,
 	  #ham_menu_cb:checked ~ #ham_menu_icon {
 	      transform: translate(-250px); /*メニュー本体横幅 width と合わせる*/
 	  }

 	  #ham_menu_cb:checked ~ #ham_menu_background {
 	      opacity: 0.5;
 	      z-index: 1040;
 	  }

 	  div#ham_menu_active ul{
 	    list-style: none;
 	    padding: 0;
 	  }

 	  div#ham_menu_active li{
 	    margin-bottom: 10px;
 	  }

 	  div#ham_menu_active li.ham_upper_list{
 	    border-bottom: 3px solid;
 	  }

 		div#ham_menu_active li#ham_upper_list_uni{
 			border-color: #F56151;
 		}

 		div#ham_menu_active li#ham_upper_list_pro{
 			border-color: #3D9EC7;
 		}

 		div#ham_menu_active li#ham_upper_list_course{
 			border-color: #90b670;
 		}

 		div#ham_menu_active li#ham_upper_list_access{
 			border-color: #EAC200;
 		}

 		div#ham_menu_active li#ham_upper_list_qa{
 			border-color: #f180a8;
 		}

 		div#ham_menu_active li#ham_upper_list_diary{
 			border-color: #F29950;
 		}

 	  div#ham_menu_active li a{
 	    text-decoration: none;
 	  }

 	  div#ham_menu_active li a:active{
 	    color: gray;
 	  }
 	  /*ハンバーガーメニューここまで*/

 	  /*ハンバーガーメニュー付随ここから*/
 		div#mobile_header{
 			display: block;
 			z-index: 1000;
 			background-color: white;
 		}
 	  nav.navbar{
 	    display: none;
 	  }
 	  div#top_content_page{
 	    display: none;
 	  }
 	  div#mobile_header{
 	    width: 100%;
 	    height: 70px;
 	    position: relative;
 	  }
 	  div#mobile_header_logo{
 	    width: 150px;
 	    height: 40px;
 	    position: absolute;
 	    top: 0;;
 	    bottom: 0;
 	    right: 0;
 	    left: 0;
 	    margin: auto;
 	    display: inline-block;
 	  }
 	  div#mobile_header_logo_image{
 	    width: 40px;
 	    height: 40px;
 	    background-image: url(../images/header_icon.png);
 	    background-size: contain;
 	    background-repeat: no-repeat;
 	    float: left;
 	  }
 	  div#mobile_header_logo_text{
 	    font-size: 30px;
 	    float: left;
 	    margin-left: 5px;
 	  }
 	  /*ハンバーガーメニュー付随ここまで*/
 }
