

div.title_bar_unipro02{
	background-color: #F56151;
}

div.title_bar_icon_unipro02{
	background-image: url(../images/menu1.png);
}

h2.subhead{
  text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
  color: #E34634;

}

div.icon{
  width: 100px;
  height: 100px;
  background-size: contain;
  margin: 0 auto;
}

div#icon01{
  background-image: url(../images/icon_scratch.png);
}

p#intr{
  text-align: center;
	padding-top: 30px;
}

div.content01{
  height: 560px;
  margin: 30px 0;
}

div.content01_article{
  height: 100%;
  background-color: #FAC7C2;
  width: 70%;
  float: left;
}

div.content01_subhead{
	margin: 30px 0 30px 40px;
}

h3.content01_subhead_text{
	margin-bottom: 4px;
	font-size: 36px;
}

div#content01_subhead_bottombar01{
	width: 80%;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
}

div#content01_subhead_bottombar02{
	width: 6px;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

div#content01_subhead_bottombar03{
	width: 6px;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

p#content01_text{
  margin: 10px 0 30px 40px;
}

div.content01_imagearea{
  height: 100%;
  background-color: #FF8FB7;
  width: 30%;
  float: left;
	position: relative;
}

div.content02_imagearea{
  background-color: #89CBE6;
  width: 30%;
  height: 100%;
  float: right;
	position: relative;
}

div.content02_article{
  height: 100%;
  background-color: #FAC7C2;
  width: 70%;
  float: right;
}

div.content02_subhead{
	margin: 30px 0 30px 40px;
}


h3.content02_subhead_text{
	margin-bottom: 4px;
	font-size: 36px;
}

div#content02_subhead_bottombar01{
	width: 90%;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
}

div#content02_subhead_bottombar02{
	width: 6px;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

div#content02_subhead_bottombar03{
	width: 6px;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

p#content02_text{
  margin: 10px 0 30px 40px;
}

div.content02{
  height: 570px;
}

div#content01_image{
	background-image: url(../images/scratch_r.png);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 70%;
	height: 30%;
	background-size: contain;
	background-repeat: no-repeat;
}

div#content02_image{
	background-image: url(../images/scratch_oval.png);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 70%;
	height: 30%;
	background-size: contain;
	background-repeat: no-repeat;
}


div#icon02{
  background-image: url(../images/icon_game.png);
}

div.games{

}

div.game_wrapper{
	position: relative;
	width: 45%;
	float: left;
	display: inline-block;
	margin: 20px 0 0 34px;
}

div.game_wrapper::before{
	content:"";
	display: block;
	padding-top: 80%;
}

div.game{
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(248,248,248,1);
	margin: 10%;
}

br.br_mobile{
	display: none;
}

br.br_tablet{
	display: none;
}

/*Responsive*/

@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
		br.br_mobile{
			display: block;
		}
		br.br_tablet{
			display: none;
		}
		div.content01_subhead {
    margin: 30px;
		}
		div.content02_subhead {
    margin: 30px;
		}
		h2.subhead{
			font-size: 20px;
		}
		h3.content01_subhead_text{
			font-size: 18px;
		}
		h3.content02_subhead_text{
			font-size: 18px;
		}
		p#intr br.br_pc{
			display: none;
		}
		p#intr{
			margin: 20px;
		}
		p.text{
			font-size: 12px;
			line-height: 24px;
			text-align: center;
		}
		p.text span{
			font-size: 14px;
		}
		div.content01_article{
			width: 100%;
			height: 400px;
		}
		div.content01_imagearea{
			width: 100%;
			margin-bottom: 20px;
			height: 200px;
		}
		div.content02_article{
			width: 100%;
			height: 420px;
		}
		div.content02_imagearea{
			width: 100%;
			margin-bottom: 20px;
			height: 180px;
		}
		div#content01_image{
			height: 60%;
			width: 50%;
		}
		p#content01_text{
			margin: 20px;
		}
		p#content01_text br.br_pc{
			display: none;
		}
		p#content02_text{
			margin: 20px;
		}
		p#content02_text br.br_pc{
			display: none;
		}
		div#content02_image{
			height: 60%;
			width: 50%;
		}
		h3.content01_subhead_text{
			text-align: center;
		}
		h3.content02_subhead_text{
			text-align: center;
		}
		div#content01_subhead_bottombar01 {
			width: 90%;
		}
		div#content02_subhead_bottombar01 {
			width: 90%;
		}
}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
		br.br_pc{
			display: none;
		}
		br.br_mobile{
			display: none;
		}
		br.br_tablet{
			display: block;;
		}
		h2.subhead{
			font-size: 28px;
		}
		h3.content01_subhead_text{
			font-size: 24px;
			margin-top: 40px;
		}
		h3.content02_subhead_text{
			font-size: 24px;
			margin-top: 40px;
		}
		p#intr br.br_pc{
			display: none;
		}
		p#intr{
			margin: 20px;
		}
		p.text{
			font-size: 16px;
			line-height: 30px;
			text-align: center;
		}
		p.text span{
			font-size: 18px;
		}
		div.content01{
			height: 620px;
		}
		div.content02{
			height: 630px;
		}
		div.content01_article{
			width: 100%;
			height: 500px;
		}
		div.content01_imagearea{
			width: 100%;
			margin-bottom: 20px;
			height: 200px;
			position: relative;
		}
		div.content02_article{
			width: 100%;
			height: 520px;
		}
		div.content02_imagearea{
			width: 100%;
			margin-bottom: 20px;
			height: 180px;
		}
		div#content01_image{
			height: 60%;
			width: 40%;
		}
		p#content01_text{
			margin: 40px 20px 20px 20px;
		}
		p#content01_text br.br_pc{
			display: none;
		}
		p#content02_text{
			margin: 40px 20px 20px 20px;
		}
		p#content02_text br.br_pc{
			display: none;
		}
		div#content02_image{
			height: 60%;
			width: 30%;
		}
		h3.content01_subhead_text{
			text-align: center;
		}
		h3.content02_subhead_text{
			text-align: center;
		}
		div.content01_subhead{
			width: 310px;
			margin: 40px auto;
			text-align: center;
		}
		div.content02_subhead{
			width: 300px;
			margin: 40px auto;
			text-align: center;
		}
		div#content01_subhead_bottombar01 {
			width: 275px;
		}
		div#content02_subhead_bottombar01 {
			width: 265px;
		}

}
