div.daikei{
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width:00px 00px 50px 50px;
  border-color: red blue yellow green;
}
div.test{
  height: 900px;
  background-color: red;
}

div.title_bar_unipro01{
	background-color: #F56151;
}

div.title_bar_icon_unipro01{
	background-image: url(../images/menu1.png);
}

p#intr{
  text-align: center;
  margin: 80px 0;
}

p.text{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

p#uni01_text{
  line-height: 34px;
}

div.item{
  float: left;
}

div.top_items{
  height: 480px;
}

div.bottom_items{
  height:600px;
}

div.icon_wrapper{
  width: 64%;
  position: relative;
  margin: 0 auto;
}

div.icon_wrapper:before{
  content: "";
  display: block;
  padding-top: 100%;
}

div.icon{
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div#icon01{
  background-image: url(../images/unipro01_icon01.png);
}

div#icon02{
  background-image: url(../images/unipro01_icon02.png);
}

div#icon03{
  background-image: url(../images/unipro01_icon03.png);
}

div#icon04{
  background-image: url(../images/unipro01_icon04.png);
}

div#icon05{
  background-image: url(../images/unipro01_icon05.png);
}

div#icon06{
  background-image: url(../images/unipro01_icon06.png);
}

h2.subhead{
  text-align: center;
  color: #F56151;
}

a.link_line{
  text-decoration: underline;
}

/*Responsive*/

@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
  div.icon_wrapper{
    width: 140px;
  }
  p#uni01_text{
    line-height: 20px;
  }

  h2.subhead{
    font-size: 28px;
  }
  p#intr{
    margin: 50px 0;
  }
  p#intr span{
    font-size: 18px;
  }
  div.item{
    height: 390px;
  }
  div#item01{
    height: 280px;
  }
  div#item02{
    height: 300px;
  }
  div#item03{
    height: 310px;
  }
  div#item04{
    height: 390px;
  }
  div#item05{
    height: 320px;
  }
  div#item06{
    height: 290px;
  }
}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
    div.icon_wrapper{
      width: 200px;
    }
    h2.subhead{
      font-size: 32px;
    }
    p#uni01_text{
      line-height: 26px;
    }
    p#intr span{
      font-size: 18px;
    }
    div#item01{
      height: 370px;
    }
    div#item02{
      height: 400px;
    }
    div#item03{
      height: 420px;
    }
    div#item04{
      height: 500px;
    }
    div#item05{
      height: 440px;
    }
    div#item06{
      height: 400px;
    }
}
