
div.menu_panel_submenu{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: none;
}

div#menu_panel_submenu_comingsoon{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  color: rgb(245, 97, 81);


}

div#menu_panel_submenu_comingsoon p{
  font-size: 36px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 36%;
  text-align: center;
}



div.menu_panel:hover div.menu_panel_submenu{
  display: block;
}

div.menu_panel_submenu_item01:hover{
  background-color: #FF7C6E;
}

div.menu_panel_submenu_item02:hover{
  background-color: #64C1E8;
}

div.menu_panel_submenu_item03:hover{
  background-color: #B5D29D;
}

div.menu_panel_submenu_item{
  width: 90%;
  height: 50px;
  font-size: 14px;
	text-align: center;
  margin: 0 auto;
  margin-top: 6%;
  position: relative;
}



div.menu_panel_submenu_item01 {
  background-color: #F56151;
}

div.menu_panel_submenu_item02 {
  background-color: #3D9EC7;
}

div.menu_panel_submenu_item03 {
  background-color: #90b670;
}

div.menu_panel_submenu_item a{
  color: #e7e7e7;
  line-height: 50px;
  text-decoration: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

div#menu_panel_submenu_items01{
  padding-top: 50%;
}

div#menu_panel_submenu_items02{
  padding-top: 28%;
}

div#menu_panel_submenu_items03{
  padding-top: 50%;
}

div.menu_panel_img > a{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  text-indent:-999px;
}

/*Responsive*/

@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
    div.menu_panel_submenu_item{
      width: 90%;
      font-size: 14px;
    	text-align: center;
      margin: 0 auto;
      margin-top: 10%;
      position: relative;
    }

    div.menu_panel_submenu_item01 {
      background-color: #F56151;
      height: 35%;
    }

    div.menu_panel_submenu_item02 {
      background-color: #3D9EC7;
      height: 22%;
    }

    div.menu_panel_submenu_item03 {
      background-color: #90b670;
      height: 35%;
    }

    div#menu_panel_submenu_items01{
      padding-top: 0;
      width: 100%;
      height: 100%;
    }

    div#menu_panel_submenu_items02{
      padding-top: 0;
      width: 100%;
      height: 100%;
    }

    div#menu_panel_submenu_items03{
      padding-top: 0;
      width: 100%;
      height: 100%;
    }

    div.menu_panel_submenu_item a{
      line-height: 16px;
    }
}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
}
