div.title_bar_cal{
	background-color: #90B670;
}

div.title_bar_icon_cal{
	background-image: url(../images/menu3.png);
}

body {
	background: #ccc;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}





div.month_name{

	/*display: inline-block;*/
}

p.month_name_text{
	background-color: #fff;
	display: inline-block;
	text-align: center;
	width: 20%;
	margin: 0 auto;
	margin-left: 10%;
	margin-bottom: 5px;
	margin-top: 50px;
	padding: 10px;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;

}


.day {
	font-size: 8em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 4em;
	line-height: 1em;
	text-transform: lowercase;
}

.calendar {
	background: #fff;
	border-radius: 1em 1em 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;
	padding: 2em;
	margin-left: 8%;
}

.calendar thead {
	color: #3D9EC7;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .5em 1em;
	text-align: center;
}

/*.calendar tbody td.point-day:hover {
	background: rgba(64,63,60,0.5)
	color: #fff;
}*/

.calendar tbody td.point-day{
	background-color: #F56151;
}

.point-day {
	color: #e7e7e7;
	position: relative;
}

.prev-month,
.next-month {
	color: #cacaca;
}

td ul li{
	list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
	background-color: #33B548;
	overflow: hidden;
  width: 130%;
  height: 0;
	-moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}

td ul{
	margin: 0;
	padding: 0;
}

/*td.point-day:hover ul li {
	overflow: visible;
  height: 40px;

}*/



div.cal_submenu{
	position: absolute;
	top: 100%;
	left: 0;
	width: 120%;
	height: 160%;
	background-color: #EA7C70;
	z-index: 2;
	display: none;

}

.cal_submenu > a{
	display: block;
	text-decoration: none;
	margin-top: 5px;
}

td.point-day:hover td.point-day{
	background-color: #F56151;
	color: #e7e7e7;

}

td.point-day:hover div.cal_submenu{
	display: block;
	color: #e7e7e7;
}

#september{
	margin-bottom: 50px;
}

#august{
	margin-bottom: 50px;
}

div.cal_intr{
	margin: 50px;
	height: 40px;
	position: relative;
}

div.cal_boxarea{
	width: 5%;
	height: 100%;
	display: inline-block;
	position: relative;
	float: left;
}
div.cal_box{
	display: inline-block;
	width: 32px;
	height: 28px;
	background-color: #F56151;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

div.cal_intr p{
	width: 95%;
	margin: 0;
	display: inline-block;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	line-height: 40px;
}

p#cal_subintr{
	margin-left: 50px;
}

div.calendar-container {
 position: relative;
 width: 50%;
 display: inline-block;
 float: left;
　}
