

div.title_bar_course{
	background-color: #90B670;
}

div.title_bar_icon_course{
	background-image: url(../images/menu3.png);
}

div#name_wrapper{
  background-color: #50B0D9;
}

h2#name_title{
  color: rgba(248,248,248,1);
  text-align: center;
  padding-top: 30px;
}

p#name_subtitle{
  color: rgba(248,248,248,1);
  text-align: center;
  padding-bottom: 30px;
  margin: 0;
}

div#about_wrapper{
  background-color: #FEFFD5;
}

p#about_text01{
  text-align: center;
  line-height: 30px;
}

p#about_text02{
  line-height: 30px;
  text-align: center;
  padding-bottom: 60px;
}

div#course_wrapper{
  background-color: #C3E2EF;
}

div#course_icon_a{
  background-image: url(../images/course_a_oval.png);
}

div#course_icon_b{
  background-image: url(../images/course_b_oval.png);
}

div#course_icon_c{
  background-image: url(../images/course_c_oval.png);
}

div.course_bar{
	width: 600px;
	height: 1px;
	background-color: #545353;
	margin: 0 auto;
}

div.course{
  width: 100%;
  height: 210px;
  padding-left: 10%;
	padding-right: 10%;
  padding-top: 20px;
}

div.course_icon{
  background-size: contain;
	background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
	margin: auto;
	width: 100px;
	height: 100px;
}

div.course_icon_wrapper{
  /*width: 50%;
  position: relative;
  margin: 0 auto;*/
}

div.course_icon_wrapper:before{
  /*content: "";
  padding-top: 100%;
  display: block;*/
}

div.course_iconarea{
	width: 30%;
	height: 100%;
	float: left;
	position: relative;

}

div.course_article{
	width: 85%;
}

h4.course_title{
  text-align: center;
}

p.course_text{
  text-align: center;
}

p.intr{
  text-align: center;
}

div#care_wrapper{
  background-color: #FEFFD5;
}

div#care_text_wrapper{
  width: 100%;
}

p#care_text{
  margin: 0 auto;
  width: 604px;
  padding-bottom: 60px;
  line-height: 30px;
}

div#thing_wrapper{
  background-color: #C3E2EF;
}

h4.thing_title{
  text-align: center;
}

div.thing_text_wrapper{
  width: 100%;
}

p.thing_text{
  margin: 0 auto;
  width: 352px;
  padding-bottom: 60px;
  line-height: 24px;
}

h3.subhead{
  text-align: center;
  padding: 60px 0 0 0;
	font-size: 30px;
	margin: 0;
}

div.subhead_bar{
	height: 4px;
	background-color: #545353;
	margin: 0 auto;
	margin-bottom: 30px;
}

div#subhead_bar_about{
	width: 100px;
}

div#subhead_bar_course{
	width: 180px;
}

div#subhead_bar_care{
	width: 70px;
}

div#subhead_bar_thing{
	width: 240px;
}

p.cal{
	margin: 0 auto;
}
