


div.title_bar_pro02{
	background-color: #3D9EC7;
}

div.title_bar_icon_pro02{
	background-image: url(../images/menu2.png);
}

p#intr{
  text-align: center;
  padding: 40px;
}

div#main01{
	width: 100%;
	height: 630px;
	margin-bottom: 30px;
}

div#main01_title_bottombar01{
	width: 40%;
	height: 5px;
	background-color: #E44777;
	display: inline-block;
	float: left;
}

div#main01_title_bottombar02{
	width: 6px;
	height: 5px;
	background-color: #E44777;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

div#main01_title_bottombar03{
	width: 6px;
	height: 5px;
	background-color: #E44777;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

div.main01_article{
	background-color: #C1E2F0;
	height: 100%;
	width: 70%;
	float: left;
}

div.main01_title{
	margin: 50px 0 30px 40px;
}

h2.main01_title_text{
	margin-bottom: 2px;
}

p#main01_text{
  margin: 10px 0 30px 40px;
}

div.main01_imagearea{
	background-color: #E44777;
	height: 100%;
	width: 30%;
	float: left;
	position: relative;
}

div#main02{
	width: 100%;
	height: 490px;
}

div#main02_title_bottombar01{
	width: 58%;
	height: 5px;
	background-color: #F1C674;
	display: inline-block;
	float: left;
}

div#main02_title_bottombar02{
	width: 6px;
	height: 5px;
	background-color: #F1C674;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

div#main02_title_bottombar03{
	width: 6px;
	height: 5px;
	background-color: #F1C674;
	display: inline-block;
	float: left;
	margin-left: 5px;
}


div.main02_imagearea{
	background-color: #F1C674;
	height: 100%;
	width: 30%;
	float: right;
	position: relative;
}

div.main02_article{
	background-color: #C1E2F0;
	height: 100%;
	width: 70%;
	float: right;
}

div.main02_title{
  margin: 50px 0 30px 40px;
}

h2.main02_title_text{
	margin-bottom: 2px;
}


p#main02_text{
  margin: 10px 0 30px 40px;
}

div#main02_icon{
	background-image:url(../images/pro02_icon_bottom.png);
	background-size: contain;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;

}

div#main01_icon{
	background-image:url(../images/pro02_icon_top.png);
	background-size: contain;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;

}

/*Responsive*/

@media screen and (max-width:425px) {
    /*　画面サイズが425pxまではここを読み込む　*/
		p#intr{
			font-size: 14px;
		}
		p.text{
			font-size: 12px;
			line-height: 24px;
		}
		p.text br.br_pc{
			display: none;
		}
		h2.main01_title_text{
			font-size: 20px;
		}
		h2.main02_title_text{
			font-size: 20px;
		}
		div#main01{
			height: 600px;
		}
		div#main02{
			height: 600px;
		}
		div.main01_article{
			width: 100%;
			height: 400px;
		}
		div.main02_article{
			width: 100%;
			height: 400px;
		}
		div.main01_imagearea{
			width: 100%;
			height: 200px;
		}
		div.main02_imagearea{
			width: 100%;
			height: 200px;
		}
		p#main01_text{
			padding: 0 20px 20px 20px;
			margin: 0;
		}
		p#main02_text{
			padding: 0 20px 20px 20px;
			margin: 0;
		}
		h2.main01_title_text{
			margin: 0;
		}
		div.main01_title{
			margin: 30px;
		}
		h2.main02_title_text{
			margin: 0;
		}
		div.main02_title{
			margin: 30px;
		}

}

@media screen and (min-width:426px) and ( max-width:768px) {
    /*　画面サイズが426pxから768pxまではここを読み込む　*/
		p#intr{
			font-size: 14px;
		}
		p.text{
			font-size: 12px;
			line-height: 24px;
		}
		p.text br.br_pc{
			display: none;
		}
		h2.main01_title_text{
			font-size: 20px;
		}
		h2.main02_title_text{
			font-size: 20px;
		}
		div#main01{
			height: 600px;
		}
		div#main02{
			height: 600px;
		}
		div.main01_article{
			width: 100%;
			height: 400px;
		}
		div.main02_article{
			width: 100%;
			height: 400px;
		}
		div.main01_imagearea{
			width: 100%;
			height: 200px;
		}
		div.main02_imagearea{
			width: 100%;
			height: 200px;
		}
		p#main01_text{
			padding: 0 20px 20px 20px;
			margin: 0;
		}
		p#main02_text{
			padding: 0 20px 20px 20px;
			margin: 0;
		}
		h2.main01_title_text{
			margin: 0;
		}
		div.main01_title{
			margin: 30px;
		}
		h2.main02_title_text{
			margin: 0;
		}
		div.main02_title{
			margin: 30px;
		}
}
