

div.title_bar_unipro02{
	background-color: #F56151;
}

div.title_bar_icon_unipro02{
	background-image: url(../images/menu1.png);
}

h2.subhead{
  text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
  color: #E34634;

}

div.icon{
  width: 100px;
  height: 100px;
  background-size: contain;
  margin: 0 auto;
}

div#icon01{
  background-image: url(../images/icon_scratch.png);
}

p#intr{
  text-align: center;
	padding-top: 30px;
}

div.content01{
  height: 560px;
  margin: 30px 0;
}

div.content01_article{
  height: 100%;
  background-color: #FAC7C2;
  width: 70%;
  float: left;
}

div.content01_subhead{
	margin: 30px 0 30px 40px;
}

h3.content01_subhead_text{
	margin-bottom: 4px;
	font-size: 36px;
}

div#content01_subhead_bottombar01{
	width: 80%;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
}

div#content01_subhead_bottombar02{
	width: 6px;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

div#content01_subhead_bottombar03{
	width: 6px;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

p#content01_text{
  margin: 10px 0 30px 40px;
}

div.content01_imagearea{
  height: 100%;
  background-color: #FF8FB7;
  width: 30%;
  float: left;
	position: relative;
}

div.content02_imagearea{
  background-color: #89CBE6;
  width: 30%;
  height: 100%;
  float: left;
	position: relative;
}

div.content02_article{
  height: 100%;
  background-color: #FAC7C2;
  width: 70%;
  float: left;
}

div.content02_subhead{
	margin: 30px 0 30px 40px;
}


h3.content02_subhead_text{
	margin-bottom: 4px;
	font-size: 36px;
}

div#content02_subhead_bottombar01{
	width: 90%;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
}

div#content02_subhead_bottombar02{
	width: 6px;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

div#content02_subhead_bottombar03{
	width: 6px;
	height: 5px;
	background-color: #363535;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

p#content02_text{
  margin: 10px 0 30px 40px;
}

div.content02{
  height: 570px;
}

div#content01_image{
	background-image: url(../images/scratch_r.png);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 70%;
	height: 30%;
	background-size: contain;
	background-repeat: no-repeat;
}

div#content02_image{
	background-image: url(../images/scratch_oval.png);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 70%;
	height: 30%;
	background-size: contain;
	background-repeat: no-repeat;
}


div#icon02{
  background-image: url(../images/icon_game.png);
}

div.games{

}

div.game_wrapper{
	position: relative;
	width: 45%;
	float: left;
	display: inline-block;
	margin: 20px 0 0 34px;
}

div.game_wrapper::before{
	content:"";
	display: block;
	padding-top: 80%;
}

div.game{
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(248,248,248,1);
	margin: 10%;
}
